In [1]:
import my_methods as mm
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

## std_dolvol
Monthly standard deviation of daily RMB trading volume

In [3]:
dolvol = mm.extract_variable(path='../../Data/raw_data/01日个股回报率/',
                            fileType='csv',
                            variable='Dnvaltrd',
                            time_col='Trddt',
                            code_col='Stkcd',
                            print_fileName=True)
dolvol

../../Data/raw_data/01日个股回报率/TRD_Dalyr00.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr01.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr02.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr03.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr04.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr05.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr06.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr07.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr08.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr09.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr10.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr11.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr12.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr13.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr14.csv
../../Data/raw_data/01日个股回报率/TRD_Dalyr15.csv

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
Trddt,,,,,,,,,,,,,,,,,,,,,
1999-12-01,7.281512e+07,2.203949e+07,10585994.01,2.830500e+06,4196588.48,2907389.12,1402280.35,2.449618e+07,2.259514e+06,1164804.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-02,3.102179e+07,2.412750e+07,10427718.87,2.424642e+06,3568202.36,3155287.35,1891345.05,9.289746e+06,3.031553e+06,1530688.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-03,5.408860e+07,1.747988e+07,9026824.13,6.888869e+06,4382571.92,3507897.43,1214678.00,9.711835e+06,3.058894e+06,1763168.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-06,1.115692e+08,1.806651e+07,27089179.43,1.383775e+07,3107183.11,2769583.33,2323489.41,6.498837e+06,2.592734e+06,1538449.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-07,1.048006e+08,1.076221e+07,10909354.26,5.941992e+06,2326068.84,1559451.26,1648177.76,7.417699e+06,3.163265e+06,667198.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-17,1.855634e+09,1.311268e+09,NaN,2.049323e+08,17166423.00,53212767.00,61898088.00,1.331573e+08,1.206980e+09,35703218.00,...,412021302.0,66949900.0,33934522.0,645227576.0,96335944.0,17580630.0,40079634.0,464100793.0,104972518.0,91804717.0
2022-01-18,1.891095e+09,2.286204e+09,NaN,3.781447e+08,42561703.00,46449149.00,57607155.00,1.711108e+08,1.393954e+09,54313868.00,...,365913653.0,38862837.0,43739253.0,292363206.0,81749195.0,20107550.0,32977906.0,427475091.0,194416808.0,113059526.0
2022-01-19,1.630974e+09,2.611686e+09,NaN,2.119217e+08,57729460.00,51028808.00,70063874.00,2.765366e+08,1.116733e+09,27765593.00,...,223157373.0,42827571.0,23835141.0,400807388.0,153961124.0,25174488.0,19861237.0,244358014.0,200054954.0,84693516.0
2022-01-20,5.195806e+09,3.538267e+09,NaN,1.545342e+08,23373834.00,48834651.00,51085606.00,1.965303e+08,7.787501e+08,41035594.00,...,629772270.0,73811608.0,36088447.0,344098225.0,129397825.0,27679903.0,40827616.0,251822271.0,161063928.0,68422658.0
2022-01-21,2.575115e+09,1.717180e+09,NaN,8.920817e+07,12783802.00,35492279.00,44944769.00,1.694517e+08,6.110389e+08,26423474.00,...,559917611.0,31890769.0,31671938.0,284567863.0,107117207.0,18311186.0,17805082.0,199758221.0,71311493.0,46380260.0

In [4]:
std_dolvol = dolvol.resample("M").apply(np.std)

In [5]:
std_dolvol.to_csv('../../Data/factors/std_dolvol.csv')

# dolvol
Natural logarithm of RMB trading volume from month t − 2.

In [6]:
dolvol = mm.extract_variable_oneFile(filePath='../../Data/raw_data/02月个股回报率/TRD_Mnth.csv',
                                    fileType='csv',
                                    variable='Mnvaltrd',
                                    time_col='Trdmnt',
                                    code_col='Stkcd')
dolvol.index = dolvol.index.to_period('M').to_timestamp('M')
dolvol

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
Trdmnt,,,,,,,,,,,,,,,,,,,,,
1990-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-01-31,NaN,1.450000e+05,NaN,1.600000e+05,1.468000e+06,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-02-28,NaN,1.106500e+07,NaN,5.521000e+06,2.416400e+07,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-03-31,NaN,2.996000e+06,NaN,5.130000e+05,8.930000e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-04-30,6.150000e+05,5.600000e+05,NaN,1.010000e+05,2.550000e+05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,3.961287e+10,4.310450e+10,NaN,2.915466e+09,6.286052e+08,7.249015e+08,4.740722e+08,7.888531e+08,4.819344e+10,3.469698e+08,...,6.203790e+09,NaN,NaN,NaN,5.607064e+07,1.441898e+09,3.234645e+09,1.012755e+10,NaN,NaN
2021-09-30,5.100255e+10,4.245189e+10,NaN,1.674393e+09,7.780789e+08,9.652788e+08,7.505632e+08,1.327727e+09,4.981926e+10,3.571358e+08,...,1.276590e+09,NaN,NaN,NaN,4.086442e+09,4.808507e+09,1.554446e+09,8.505036e+09,1.086290e+09,2.346894e+09
2021-10-31,2.804246e+10,3.929798e+10,NaN,9.149374e+08,4.042214e+08,4.256994e+08,5.857782e+08,5.134795e+08,4.074322e+10,6.800472e+08,...,5.182127e+08,3.227039e+09,1.293790e+09,2.956142e+09,2.630683e+09,4.508580e+09,9.329526e+08,2.478106e+09,8.733645e+08,9.781484e+08
2021-11-30,3.889867e+10,4.243985e+10,NaN,1.577648e+09,4.123786e+08,4.378396e+08,1.273133e+09,5.191564e+08,4.958841e+10,6.360508e+08,...,1.114298e+09,1.011887e+10,2.483832e+09,3.255683e+09,2.005956e+09,4.118015e+09,1.131908e+09,5.318006e+09,7.893065e+08,8.717006e+08
2021-12-31,4.527650e+10,4.024705e+10,NaN,1.281888e+09,6.087211e+08,1.328291e+09,1.311075e+09,7.033452e+09,2.742432e+10,5.959108e+08,...,1.150538e+09,3.877042e+09,2.142959e+09,4.588949e+09,3.993063e+09,1.352453e+09,6.925597e+08,3.758571e+09,2.558677e+09,1.634912e+09

In [7]:
dolvol3 = dolvol.rolling(window=3).sum()
log_dolvol3 = np.log(dolvol3)
log_dolvol3.to_csv('../../Data/factors/dolvol.csv')

# zerotrade
Turnover weighted number of zero trading days in month t − 1.  
https://www.sciencedirect.com/science/article/abs/pii/S0304405X0600064X?via%3Dihub  
己见：也许是容易引起误会的名称，实质上重心在turnover的倒数上，加入zerotradeday是针对停牌的修正。数值越大，流动性越低  
没加入事件因素

In [8]:
tnr = mm.extract_variable(path='../../Data/raw_data/03个股日交易衍生指标',
                          fileType='csv',
                          variable='Turnover',
                          time_col='TradingDate',
                          code_col='Symbol')
tnr

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-04,0.00100,0.00144,0.01465,0.00771,0.00287,0.00145,0.00129,0.07870,0.00162,0.00024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,0.00163,0.00188,0.02556,0.01228,0.00419,0.00188,0.00170,0.03847,0.00163,0.00080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-06,0.00112,0.00204,0.01847,0.01091,0.00700,0.00233,0.00302,0.02232,0.01798,0.00601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-07,0.00159,0.00434,0.00875,0.01667,0.00316,0.00145,0.00126,0.01665,0.00697,0.00314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-08,0.00192,0.00297,0.00963,0.08050,0.00389,0.00300,0.00458,0.05481,0.00692,0.02976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-17,0.00589,0.00644,NaN,0.07864,0.00704,0.00874,0.03007,0.01794,0.03245,0.01778,...,0.15661,0.03520,0.03427,0.56159,0.14986,0.02247,0.05442,0.14769,0.13578,0.08609
2022-01-18,0.00594,0.01098,NaN,0.13781,0.01815,0.00762,0.02707,0.02324,0.03708,0.02750,...,0.13655,0.02015,0.04467,0.26960,0.12893,0.02565,0.04523,0.13716,0.26007,0.10849
2022-01-19,0.00509,0.01226,NaN,0.08137,0.02587,0.00829,0.03331,0.03635,0.03053,0.01410,...,0.08822,0.02239,0.02443,0.39159,0.23629,0.03257,0.02747,0.08336,0.25611,0.08118
2022-01-20,0.01562,0.01638,NaN,0.06141,0.01049,0.00793,0.02463,0.02641,0.02171,0.02109,...,0.22983,0.04004,0.03742,0.33145,0.20674,0.03670,0.05806,0.08484,0.22008,0.06562
2022-01-21,0.00764,0.00814,NaN,0.03608,0.00575,0.00585,0.02150,0.02375,0.01710,0.01373,...,0.21488,0.01743,0.03364,0.29615,0.18211,0.02498,0.02593,0.06682,0.10264,0.04578

In [24]:
vol = mm.extract_variable(path='../../Data/raw_data/01日个股回报率',
                          fileType='csv',
                          variable='Dnshrtrd',
                          time_col='Trddt',
                          code_col='Stkcd',
                          print_fileName=True)
vol

../../Data/raw_data/01日个股回报率\TRD_Dalyr00.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr01.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr02.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr03.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr04.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr05.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr06.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr07.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr08.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr09.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr10.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr11.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr12.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr13.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr14.csv
../../Data/raw_data/01日个股回报率\TRD_Dalyr15.csv

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
Trddt,,,,,,,,,,,,,,,,,,,,,
1999-12-01,3689592.0,1988016.0,1713675.0,340320.0,587730.0,280066.0,169255.0,618567.0,575816.0,128363.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-02,1566978.0,2204769.0,1678809.0,292400.0,507752.0,304998.0,230450.0,239006.0,778345.0,168242.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-03,2772823.0,1592531.0,1459707.0,815234.0,635340.0,343004.0,148790.0,245827.0,790246.0,194050.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-06,5854396.0,1617276.0,4228948.0,1563246.0,450621.0,270685.0,287975.0,161255.0,667614.0,169900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-07,5501617.0,966406.0,1725480.0,677080.0,338301.0,151562.0,204178.0,184800.0,803403.0,73812.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-17,114368943.0,62602107.0,NaN,9148735.0,7443548.0,11799496.0,9289250.0,48318782.0,82799218.0,9285901.0,...,13127449.0,1759866.0,1142673.0,28079324.0,6660577.0,1123540.0,994500.0,11971375.0,5864767.0,6696011.0
2022-01-18,115297431.0,106723695.0,NaN,16031391.0,19199700.0,10289745.0,8361990.0,62609470.0,94613100.0,14359100.0,...,11445685.0,1007714.0,1489225.0,13480052.0,5730400.0,1282710.0,826500.0,11117936.0,11233371.0,8437840.0
2022-01-19,98839185.0,119176273.0,NaN,9465798.0,27367802.0,11194374.0,10291640.0,97930353.0,77895751.0,7361100.0,...,7395123.0,1119436.0,814584.0,19579740.0,10501821.0,1628684.0,502000.0,6757178.0,11062312.0,6314078.0
2022-01-20,303119377.0,159201940.0,NaN,7144183.0,11094800.0,10706445.0,7609200.0,71152979.0,55390277.0,11012695.0,...,19265483.0,2001942.0,1247421.0,16572307.0,9188481.0,1835120.0,1061000.0,6877300.0,9506081.0,5103898.0
2022-01-21,148168295.0,79129554.0,NaN,4197717.0,6082771.0,7894415.0,6643500.0,63983971.0,43641039.0,7167200.0,...,18012354.0,871326.0,1121573.0,14807696.0,8093612.0,1248838.0,473900.0,5416458.0,4433537.0,3560922.0

In [19]:
df = pd.read_csv('../../Data/raw_data/02月个股回报率/TRD_Mnth.csv')
df = df[df['Stkcd'].map(lambda x: (0<=x and x<=9999) or (600000<=x and x<=609999))]
df['Trdmnt'] = pd.DatetimeIndex(df['Trdmnt']).to_period('M').to_timestamp('M')
df

,Stkcd,Trdmnt,Opndt,Mopnprc,Clsdt,Mclsprc,Mnshrtrd,Mnvaltrd,Msmvosd,Msmvttl,Ndaytrd,Mretwd,Mretnd,Markettype,Capchgdt,Ahshrtrd_M,Ahvaltrd_M
0,1,1991-04-30,3,49.00,30,43.68,13400,6.150000e+05,1157520.00,2118487.47,20,NaN,NaN,4,1991-04-03,NaN,NaN
1,1,1991-05-31,2,43.46,31,38.34,187800,7.675000e+06,1016010.00,1859496.56,24,-0.122253,0.235714,4,1991-04-03,NaN,NaN
2,1,1991-06-30,1,38.53,28,33.99,30600,1.094000e+06,900735.00,1648520.81,23,-0.113459,-0.113459,4,1991-04-03,NaN,NaN
3,1,1991-07-31,1,33.65,31,29.54,6100,1.940430e+05,782810.00,1432695.05,16,-0.130921,-0.130921,4,1991-04-03,NaN,NaN
4,1,1991-08-31,1,29.39,31,15.00,3243100,4.957624e+07,674833.82,1346274.65,15,-0.411588,-0.411587,4,1991-08-01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625727,605598,2021-12-31,1,14.72,31,15.93,154907350,2.558677e+09,688071.93,2751803.43,23,0.086630,0.086630,1,2021-09-17,0.0,0.0
625728,605599,2021-09-30,9,12.00,30,12.69,157545260,2.346894e+09,987000.28,9870000.28,14,NaN,NaN,1,2021-09-09,0.0,0.0
625729,605599,2021-10-31,8,12.74,29,11.67,75453839,9.781484e+08,907666.93,9076666.93,16,-0.080378,-0.080378,1,2021-09-09,0.0,0.0
625730,605599,2021-11-30,1,11.67,30,12.39,71873065,8.717006e+08,963666.94,9636666.94,22,0.061697,0.061697,1,2021-09-09,0.0,0.0
625731,605599,2021-12-31,1,12.34,31,13.46,126367554,1.634912e+09,1046889.19,10468889.19,23,0.086360,0.086360,1,2021-09-09,0.0,0.0

In [20]:
number_tradedays = df.pivot_table(values='Ndaytrd',index='Trdmnt',columns='Stkcd')
number_tradedays = number_tradedays.replace(0,np.nan)
number_tradedays

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
Trdmnt,,,,,,,,,,,,,,,,,,,,,
1990-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-01-31,NaN,2.0,NaN,8.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-02-28,NaN,13.0,NaN,13.0,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-03-31,NaN,21.0,NaN,16.0,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-04-30,20.0,18.0,NaN,9.0,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,22.0,22.0,NaN,22.0,22.0,22.0,22.0,22.0,22.0,22.0,...,22.0,NaN,NaN,NaN,6.0,9.0,14.0,16.0,NaN,NaN
2021-09-30,20.0,20.0,NaN,20.0,20.0,20.0,20.0,20.0,20.0,20.0,...,20.0,NaN,NaN,NaN,20.0,20.0,20.0,20.0,8.0,14.0
2021-10-31,16.0,16.0,NaN,16.0,16.0,16.0,16.0,16.0,16.0,16.0,...,16.0,7.0,5.0,13.0,16.0,16.0,16.0,16.0,16.0,16.0
2021-11-30,22.0,22.0,NaN,22.0,22.0,22.0,22.0,22.0,22.0,22.0,...,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0,22.0
2021-12-31,23.0,23.0,NaN,23.0,23.0,23.0,23.0,23.0,23.0,23.0,...,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0

In [21]:
number_zerodays = vol.applymap(lambda x: np.isnan(x) or np.isinf(x) or x==0).resample("M").apply(sum)
number_zerodays

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
Trddt,,,,,,,,,,,,,,,,,,,,,
1999-12-31,0,0,0,0,0,0,0,0,0,1,...,21,21,21,21,21,21,21,21,21,21
2000-01-31,0,0,0,0,0,0,0,0,0,0,...,19,19,19,19,19,19,19,19,19,19
2000-02-29,0,0,0,0,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
2000-03-31,0,0,0,0,0,0,0,0,0,0,...,23,23,23,23,23,23,23,23,23,23
2000-04-30,0,0,0,0,0,0,0,0,1,1,...,20,20,20,20,20,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,0,0,20,0,0,0,0,0,0,0,...,0,20,20,20,0,0,0,0,12,6
2021-10-31,0,0,16,0,0,0,0,0,0,0,...,0,9,11,3,0,0,0,0,0,0
2021-11-30,0,0,22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021-12-31,0,0,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2022-01-31,0,0,14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
mtnr = tnr.resample("M").sum().replace(0, np.nan)
mtnr

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-31,0.02848,0.04664,0.21786,0.72400,0.08222,0.05079,0.05454,0.89654,0.10294,0.11197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-28,0.01351,0.01690,0.03112,0.12977,0.01491,0.01637,0.01749,0.18702,0.01951,0.05660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-31,0.04125,0.06373,0.11484,1.33941,0.09777,0.09923,0.09615,0.34562,0.07029,0.20725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-30,0.05735,0.18542,0.16924,1.04131,0.29185,0.08596,0.33836,0.37425,0.11620,0.17218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-31,0.19614,0.44965,0.13329,0.74769,0.41866,0.29390,0.49775,0.19093,0.09411,0.41185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,0.14186,0.21334,NaN,0.73791,0.31984,0.15299,0.62784,0.20883,0.90134,0.18129,...,0.51020,NaN,NaN,NaN,6.57144,5.51809,1.88893,2.84438,1.37962,2.02557
2021-10-31,0.07395,0.19674,NaN,0.41711,0.17135,0.07159,0.44156,0.08429,0.83911,0.32790,...,0.22375,1.76740,1.07668,3.51460,4.34487,4.85845,1.20664,0.99993,1.34577,0.97011
2021-11-30,0.11172,0.22987,NaN,0.72691,0.18262,0.07813,0.76109,0.08977,1.04869,0.30880,...,0.47636,4.71435,2.46038,4.15241,3.54510,4.39610,1.48356,1.81296,1.26332,0.92410
2021-12-31,0.13195,0.21023,NaN,0.57813,0.25394,0.22311,0.73077,0.90127,0.68172,0.29841,...,0.49023,1.72953,2.06643,5.33578,6.10316,1.58089,0.91940,1.24243,3.58638,1.62471
2022-01-31,0.10395,0.19807,NaN,0.95058,0.18369,0.12087,0.37045,0.45369,0.47402,0.29905,...,1.57250,0.45458,0.65368,6.06111,2.72529,0.47572,0.55010,0.86801,3.56815,2.25745

In [23]:
zerotrade = (number_zerodays + 1 / mtnr ) / number_tradedays
zerotrade

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
1990-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,0.352460,0.234368,NaN,0.067759,0.156328,0.326819,0.079638,0.239429,0.055473,0.275801,...,0.098001,NaN,NaN,NaN,0.007609,0.009061,0.026470,0.017579,1.590605,0.463835
2021-10-31,0.845166,0.317678,NaN,0.149841,0.364751,0.873027,0.141544,0.741488,0.074484,0.190607,...,0.279330,1.366543,2.385756,0.252656,0.014385,0.012864,0.051797,0.062504,0.046442,0.064426
2021-11-30,0.406861,0.197740,NaN,0.062531,0.248902,0.581781,0.059723,0.506344,0.043344,0.147197,...,0.095421,0.009642,0.018475,0.010947,0.012822,0.010340,0.030639,0.025072,0.035980,0.049188
2021-12-31,0.329506,0.206813,NaN,0.075205,0.171215,0.194874,0.059497,0.048241,0.063777,0.145700,...,0.088690,0.025139,0.021040,0.008148,0.007124,0.027502,0.047290,0.034995,0.012123,0.026761
2022-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
zerotrade.to_csv('../../Data/factors/zerotrade.csv')

# atr
The abnormal turnover ratio

In [27]:
mkt_tr = pd.read_excel('../../Data/raw_data/A股市场换手率.xlsx', index_col="日期", date_parser="%Y-%m-%d")
mkt_tr

            流通市值加权换手率
日期
1999-12-01   0.659391
1999-12-02   0.759799
1999-12-03   0.682983
1999-12-06   0.687984
1999-12-07   0.656248
...               ...
2021-11-24   2.144651
2021-11-25   1.987167
2021-11-26   1.947494
2021-11-29   2.053628
2021-11-30   2.091836

[5330 rows x 1 columns]

In [31]:
stk_tr = mm.extract_variable(path='../../Data/raw_data/03个股日交易衍生指标',variable="Turnover",
                       time_col='TradingDate',code_col='Symbol')
stk_tr

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-04,0.00100,0.00144,0.01465,0.00771,0.00287,0.00145,0.00129,0.07870,0.00162,0.00024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,0.00163,0.00188,0.02556,0.01228,0.00419,0.00188,0.00170,0.03847,0.00163,0.00080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-06,0.00112,0.00204,0.01847,0.01091,0.00700,0.00233,0.00302,0.02232,0.01798,0.00601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-07,0.00159,0.00434,0.00875,0.01667,0.00316,0.00145,0.00126,0.01665,0.00697,0.00314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-08,0.00192,0.00297,0.00963,0.08050,0.00389,0.00300,0.00458,0.05481,0.00692,0.02976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-17,0.00589,0.00644,NaN,0.07864,0.00704,0.00874,0.03007,0.01794,0.03245,0.01778,...,0.15661,0.03520,0.03427,0.56159,0.14986,0.02247,0.05442,0.14769,0.13578,0.08609
2022-01-18,0.00594,0.01098,NaN,0.13781,0.01815,0.00762,0.02707,0.02324,0.03708,0.02750,...,0.13655,0.02015,0.04467,0.26960,0.12893,0.02565,0.04523,0.13716,0.26007,0.10849
2022-01-19,0.00509,0.01226,NaN,0.08137,0.02587,0.00829,0.03331,0.03635,0.03053,0.01410,...,0.08822,0.02239,0.02443,0.39159,0.23629,0.03257,0.02747,0.08336,0.25611,0.08118
2022-01-20,0.01562,0.01638,NaN,0.06141,0.01049,0.00793,0.02463,0.02641,0.02171,0.02109,...,0.22983,0.04004,0.03742,0.33145,0.20674,0.03670,0.05806,0.08484,0.22008,0.06562
2022-01-21,0.00764,0.00814,NaN,0.03608,0.00575,0.00585,0.02150,0.02375,0.01710,0.01373,...,0.21488,0.01743,0.03364,0.29615,0.18211,0.02498,0.02593,0.06682,0.10264,0.04578

In [34]:
def get_atr(stk_tr:pd.DataFrame, mkt_tr:pd.Series, path:str):
    res_df = pd.DataFrame()
    m_train_start = pd.date_range(start="1999-12-01", end="2021-05-01", freq="MS") # MS: month start frequency
    m_train_end = pd.date_range(start="2000-05-31", end="2021-10-31", freq="M")  # M: month end frequency
    m_test_start = pd.date_range(start="2000-06-01", end="2021-11-01", freq="MS")
    m_test_end = pd.date_range(start="2000-06-30", end="2021-11-30", freq="M")
    # 长度一样
    m_n = range(len(m_train_start))
    for i in m_n:
        stk_tr_train = stk_tr.loc[m_train_start[i]:m_train_end[i],:]
        mkt_tr_train = mkt_tr.loc[m_train_start[i]:m_train_end[i]]
        stk_tr_test = stk_tr.loc[m_test_start[i]:m_test_end[i],:]
        mkt_tr_test = mkt_tr.loc[m_test_start[i]:m_test_end[i]]
        for stk in stk_tr.columns:
            y_train = stk_tr_train[stk]
            y_test = stk_tr_test[stk]
            
            # x即市场换手率必定无缺，但y即个股换手率可能有缺（如停牌），故x要随y丢弃相应行
            y_train.dropna(inplace=True)
            x_train = mkt_tr_train.loc[y_train.index]
            y_test.dropna(inplace=True)
            x_test = mkt_tr_test.loc[y_test.index]
            
            if (y_train.empty or y_test.empty):
                continue
                
            regr = LinearRegression()
                #x_y_train = pd.concat([x_train, y_train], axis=1)
                #x_y_train.dropna(inplace=True)
                #x_y_train.columns = ['x', 'y']
                
            regr.fit(x_train.to_numpy().reshape(-1,1), y_train.to_numpy())
            y_pred = regr.predict(x_test.to_numpy().reshape(-1,1))
            d_atr = y_test.to_numpy() - y_pred
            m_atr = d_atr.sum()
            res_df.loc[m_test_end[i],stk] = m_atr
    
    res_df.to_csv(path)
    return res_df

In [35]:
get_atr(stk_tr=stk_tr, mkt_tr=mkt_tr, path='../../Data/factors/atr.csv')

,1,2,3,4,5,6,7,8,9,10,...,605033,605598,605599,1216,1218,1219,605138,605555,605566,605567
2000-06-30,-0.037092,-0.059481,-0.125083,-0.310718,0.268000,0.235724,-0.183379,0.032446,0.987982,-0.122646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-07-31,0.024665,0.276668,-0.117525,-0.321713,-0.213201,0.125158,-0.059120,-0.052936,-0.271795,0.083493,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-08-31,-0.039694,-0.012388,0.301723,0.004648,-0.046644,-0.131204,0.067065,0.025734,-0.181100,0.272940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-09-30,0.028330,0.074235,0.137424,0.007235,-0.112526,-0.172943,0.714008,0.073608,-0.213628,0.155440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-10-31,0.017951,-0.019822,0.061889,-0.035813,0.020680,-0.035342,0.308776,-0.061269,-0.025595,0.170500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-31,-0.036428,-0.042544,NaN,1.386849,0.299788,-0.010463,-0.890324,-0.091906,0.081955,0.030487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-08-31,-0.005294,0.014317,NaN,-1.018085,-0.052142,0.014219,0.210210,0.021214,-0.512245,0.282387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-30,0.050487,0.045123,NaN,-0.657750,0.034142,0.049055,0.186622,0.098731,0.103783,0.005219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-31,0.020815,0.090143,NaN,-0.321968,-0.005288,-0.015895,-0.200226,0.011779,0.305685,-0.055614,...,-1.108103,-0.781553,-0.251539,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-30,0.018698,0.042894,NaN,-0.446985,-0.099418,-0.038751,0.236670,-0.029850,0.137836,0.026802,...,-1.585587,-1.748492,-1.414156,-2.648136,-0.965123,-0.578636,-1.813129,1.116383,0.56787,-3.244309

# chato
Change in monthly turnover

In [36]:
tnr = mm.extract_variable(path='../../Data/raw_data/03个股日交易衍生指标',
                          fileType='csv',
                          variable='Turnover',
                          time_col='TradingDate',
                          code_col='Symbol')
tnr

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-04,0.00100,0.00144,0.01465,0.00771,0.00287,0.00145,0.00129,0.07870,0.00162,0.00024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,0.00163,0.00188,0.02556,0.01228,0.00419,0.00188,0.00170,0.03847,0.00163,0.00080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-06,0.00112,0.00204,0.01847,0.01091,0.00700,0.00233,0.00302,0.02232,0.01798,0.00601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-07,0.00159,0.00434,0.00875,0.01667,0.00316,0.00145,0.00126,0.01665,0.00697,0.00314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-08,0.00192,0.00297,0.00963,0.08050,0.00389,0.00300,0.00458,0.05481,0.00692,0.02976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-17,0.00589,0.00644,NaN,0.07864,0.00704,0.00874,0.03007,0.01794,0.03245,0.01778,...,0.15661,0.03520,0.03427,0.56159,0.14986,0.02247,0.05442,0.14769,0.13578,0.08609
2022-01-18,0.00594,0.01098,NaN,0.13781,0.01815,0.00762,0.02707,0.02324,0.03708,0.02750,...,0.13655,0.02015,0.04467,0.26960,0.12893,0.02565,0.04523,0.13716,0.26007,0.10849
2022-01-19,0.00509,0.01226,NaN,0.08137,0.02587,0.00829,0.03331,0.03635,0.03053,0.01410,...,0.08822,0.02239,0.02443,0.39159,0.23629,0.03257,0.02747,0.08336,0.25611,0.08118
2022-01-20,0.01562,0.01638,NaN,0.06141,0.01049,0.00793,0.02463,0.02641,0.02171,0.02109,...,0.22983,0.04004,0.03742,0.33145,0.20674,0.03670,0.05806,0.08484,0.22008,0.06562
2022-01-21,0.00764,0.00814,NaN,0.03608,0.00575,0.00585,0.02150,0.02375,0.01710,0.01373,...,0.21488,0.01743,0.03364,0.29615,0.18211,0.02498,0.02593,0.06682,0.10264,0.04578

In [37]:
mtnr = tnr.resample("M").sum().replace(0, np.nan)
mtnr

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-31,0.02848,0.04664,0.21786,0.72400,0.08222,0.05079,0.05454,0.89654,0.10294,0.11197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-28,0.01351,0.01690,0.03112,0.12977,0.01491,0.01637,0.01749,0.18702,0.01951,0.05660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-31,0.04125,0.06373,0.11484,1.33941,0.09777,0.09923,0.09615,0.34562,0.07029,0.20725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-30,0.05735,0.18542,0.16924,1.04131,0.29185,0.08596,0.33836,0.37425,0.11620,0.17218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-31,0.19614,0.44965,0.13329,0.74769,0.41866,0.29390,0.49775,0.19093,0.09411,0.41185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,0.14186,0.21334,NaN,0.73791,0.31984,0.15299,0.62784,0.20883,0.90134,0.18129,...,0.51020,NaN,NaN,NaN,6.57144,5.51809,1.88893,2.84438,1.37962,2.02557
2021-10-31,0.07395,0.19674,NaN,0.41711,0.17135,0.07159,0.44156,0.08429,0.83911,0.32790,...,0.22375,1.76740,1.07668,3.51460,4.34487,4.85845,1.20664,0.99993,1.34577,0.97011
2021-11-30,0.11172,0.22987,NaN,0.72691,0.18262,0.07813,0.76109,0.08977,1.04869,0.30880,...,0.47636,4.71435,2.46038,4.15241,3.54510,4.39610,1.48356,1.81296,1.26332,0.92410
2021-12-31,0.13195,0.21023,NaN,0.57813,0.25394,0.22311,0.73077,0.90127,0.68172,0.29841,...,0.49023,1.72953,2.06643,5.33578,6.10316,1.58089,0.91940,1.24243,3.58638,1.62471
2022-01-31,0.10395,0.19807,NaN,0.95058,0.18369,0.12087,0.37045,0.45369,0.47402,0.29905,...,1.57250,0.45458,0.65368,6.06111,2.72529,0.47572,0.55010,0.86801,3.56815,2.25745

In [40]:
cha_mtnr = mtnr.pct_change().replace(0,np.nan)
cha_mtnr

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-28,-0.525632,-0.637650,-0.857156,-0.820760,-0.818657,-0.677692,-0.679318,-0.791398,-0.810472,-0.494507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-31,2.053294,2.771006,2.690231,9.321415,5.557344,5.061698,4.497427,0.848038,2.602768,2.661661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-30,0.390303,1.909462,0.473703,-0.222561,1.985067,-0.133730,2.519085,0.082837,0.653151,-0.169216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-31,2.420052,1.425035,-0.212420,-0.281972,0.434504,2.419032,0.471066,-0.489833,-0.190103,1.391974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,0.319014,0.053011,NaN,-0.365250,0.135594,0.305710,0.695261,0.526982,0.216630,0.033993,...,-0.750231,NaN,NaN,NaN,60.421067,2.575490,-0.407292,-0.138555,NaN,NaN
2021-10-31,-0.478711,-0.077810,NaN,-0.434741,-0.464263,-0.532061,-0.296700,-0.596370,-0.069042,0.808704,...,-0.561446,NaN,NaN,NaN,-0.338825,-0.119541,-0.361204,-0.648454,-0.024536,-0.521068
2021-11-30,0.510751,0.168395,NaN,0.742730,0.065772,0.091354,0.723639,0.065014,0.249765,-0.058249,...,1.128983,1.667393,1.285154,0.181474,-0.184072,-0.095164,0.229497,0.813087,-0.061266,-0.047428
2021-12-31,0.181078,-0.085440,NaN,-0.204675,0.390538,1.855625,-0.039838,9.039768,-0.349932,-0.033646,...,0.029117,-0.633135,-0.160118,0.284984,0.721576,-0.640388,-0.380274,-0.314695,1.838853,0.758154
2022-01-31,-0.212202,-0.057841,NaN,0.644232,-0.276640,-0.458249,-0.493069,-0.496610,-0.304671,0.002145,...,2.207678,-0.737166,-0.683667,0.135937,-0.553462,-0.699081,-0.401675,-0.301361,-0.005083,0.389448

In [41]:
cha_mtnr.to_csv('../../Data/factors/chato.csv')

# chato_ia

In [42]:
stkcls = pd.read_csv('../../Data/raw_data/05上市公司行业分类表/STK_INDUSTRYCLASS.csv', index_col=[4], parse_dates=True)
stkcls = stkcls[stkcls['IndustryClassificationID'] == 'P0207']  # 证监会2012版分类标准覆盖面最全
stkcls = stkcls[['Symbol','IndustryCode']]
stkcls = stkcls[stkcls['Symbol'].map(lambda x: (x>=0 and x<=9999) or (x>=600000 and x<=609999))]
stkcls

               Symbol IndustryCode
ImplementDate
1991-04-03          1          J66
1991-01-29          2          K70
1991-07-03          3          S90
1991-01-14          4          G54
2010-08-25          4          C27
...               ...          ...
2021-08-19     605580          D44
2021-08-12     605588          C39
2021-08-10     605589          C26
2021-09-17     605598          E48
2021-09-09     605599          F52

[4567 rows x 2 columns]

In [44]:
cha_mtnr_ia = mm.industry_adjust_ewa(cha_mtnr, stkcls)
cha_mtnr_ia

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-28,0.000000,-0.040559,-0.215047,-0.074682,-0.176549,-0.080601,-0.082226,-0.181706,-0.168363,0.117319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-31,0.000000,-2.819506,-2.785627,3.667231,0.081486,-0.528814,-1.093085,-4.241189,-2.873091,-4.316235,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-04-30,0.000000,1.242460,0.275612,-0.100136,1.786977,-0.800731,1.852083,0.220969,0.455061,-0.294272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-05-31,0.000000,1.007715,-1.001627,-1.137602,-0.354703,2.001712,0.053746,-1.503174,-0.979310,0.793411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,0.114598,-0.479581,NaN,-0.447679,-0.682275,-0.226882,0.162670,0.642130,-0.011698,-0.522837,...,-0.814546,NaN,NaN,NaN,57.377863,0.620139,-0.203554,-0.526502,NaN,NaN
2021-10-31,-0.066221,0.310068,NaN,-0.132327,-0.023391,-0.144183,0.091178,-0.135776,0.415035,1.274713,...,-0.217339,NaN,NaN,NaN,0.140723,0.148685,0.001968,-1.266695,0.441473,-0.203603
2021-11-30,0.398888,-0.344552,NaN,-0.313837,-1.082770,-0.421593,0.210692,-0.783243,-0.820039,-0.415621,...,0.255693,0.570846,0.527233,-0.392250,-1.236626,-0.125683,-1.354513,0.055166,-0.418637,-0.752908
2021-12-31,-0.143198,-1.533602,NaN,-0.895909,0.188075,0.407463,-1.488000,8.490772,-0.899084,-1.243165,...,-0.960552,-1.071795,-1.176896,0.288760,-0.278361,-1.277784,-0.581886,-1.331473,0.629335,0.026558
2022-01-31,-0.152582,0.184439,NaN,0.588115,-0.062050,-0.215969,-0.250788,-0.111285,0.182121,0.122319,...,1.935325,-0.275345,-0.295848,0.025281,-0.809994,-0.106424,-0.070983,0.086458,0.115092,0.308724

In [45]:
cha_mtnr_ia.to_csv('../../Data/factors/chato_ia.csv')

# turn
Average monthly turnover for month t − 3 to t − 1

In [46]:
tnr = mm.extract_variable(path='../../Data/raw_data/03个股日交易衍生指标',
                          fileType='csv',
                          variable='Turnover',
                          time_col='TradingDate',
                          code_col='Symbol')
tnr

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-04,0.00100,0.00144,0.01465,0.00771,0.00287,0.00145,0.00129,0.07870,0.00162,0.00024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-05,0.00163,0.00188,0.02556,0.01228,0.00419,0.00188,0.00170,0.03847,0.00163,0.00080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-06,0.00112,0.00204,0.01847,0.01091,0.00700,0.00233,0.00302,0.02232,0.01798,0.00601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-07,0.00159,0.00434,0.00875,0.01667,0.00316,0.00145,0.00126,0.01665,0.00697,0.00314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-01-08,0.00192,0.00297,0.00963,0.08050,0.00389,0.00300,0.00458,0.05481,0.00692,0.02976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-17,0.00589,0.00644,NaN,0.07864,0.00704,0.00874,0.03007,0.01794,0.03245,0.01778,...,0.15661,0.03520,0.03427,0.56159,0.14986,0.02247,0.05442,0.14769,0.13578,0.08609
2022-01-18,0.00594,0.01098,NaN,0.13781,0.01815,0.00762,0.02707,0.02324,0.03708,0.02750,...,0.13655,0.02015,0.04467,0.26960,0.12893,0.02565,0.04523,0.13716,0.26007,0.10849
2022-01-19,0.00509,0.01226,NaN,0.08137,0.02587,0.00829,0.03331,0.03635,0.03053,0.01410,...,0.08822,0.02239,0.02443,0.39159,0.23629,0.03257,0.02747,0.08336,0.25611,0.08118
2022-01-20,0.01562,0.01638,NaN,0.06141,0.01049,0.00793,0.02463,0.02641,0.02171,0.02109,...,0.22983,0.04004,0.03742,0.33145,0.20674,0.03670,0.05806,0.08484,0.22008,0.06562
2022-01-21,0.00764,0.00814,NaN,0.03608,0.00575,0.00585,0.02150,0.02375,0.01710,0.01373,...,0.21488,0.01743,0.03364,0.29615,0.18211,0.02498,0.02593,0.06682,0.10264,0.04578

In [47]:
mtnr = tnr.resample('M').sum()
mtnr3 = mtnr.rolling(window=3).mean()
mtnr3

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
TradingDate,,,,,,,,,,,,,,,,,,,,,
1999-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-03-31,0.027747,0.042423,0.121273,0.731060,0.064967,0.055463,0.056060,0.476393,0.064247,0.125273,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1999-04-30,0.037370,0.088683,0.105067,0.836830,0.134843,0.067187,0.150667,0.302297,0.068667,0.145343,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1999-05-31,0.098247,0.232933,0.139123,1.042803,0.269427,0.159697,0.310753,0.303600,0.093533,0.263760,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-30,0.116397,0.196460,0.000000,1.426793,0.352867,0.128640,0.526927,0.144737,0.869677,0.184737,...,0.850963,0.000000,0.000000,0.000000,2.226143,2.353800,1.691960,2.048750,0.459873,0.675190
2021-10-31,0.107787,0.204227,0.000000,0.772513,0.257613,0.113917,0.479917,0.143293,0.827100,0.228173,...,0.925547,0.589133,0.358893,1.171533,3.674433,3.973283,2.094173,2.382060,0.908463,0.998560
2021-11-30,0.109177,0.213317,0.000000,0.627310,0.224603,0.100903,0.610163,0.127630,0.929713,0.272663,...,0.403437,2.160583,1.179020,2.555670,4.820470,4.924213,1.526377,1.885757,1.329570,1.306593
2021-12-31,0.105873,0.212280,0.000000,0.574050,0.202637,0.124277,0.644473,0.358443,0.856507,0.311703,...,0.396780,2.737093,1.867830,4.334263,4.664377,3.611813,1.203200,1.351773,2.065157,1.172973
2022-01-31,0.115873,0.212723,0.000000,0.751873,0.206750,0.140703,0.620770,0.481577,0.734810,0.302087,...,0.846363,2.299487,1.726830,5.183100,4.124517,2.150903,0.984353,1.307800,2.805950,1.602087

In [48]:
mtnr3.to_csv('../../Data/factors/turn.csv')

# std_turn
Monthly standard deviation of daily share turnover

In [49]:
std_tnr = tnr.resample("M").apply(np.std)
std_tnr.to_csv('../../Data/factors/std_turn.csv')

# ill
Average of daily (absolute return/RMB volume) in month t

In [50]:
dret = mm.extract_variable(path='../../Data/raw_data/01日个股回报率/',
                            fileType='csv',
                            variable='Dretwd',
                            time_col='Trddt',
                            code_col='Stkcd')
dret

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
Trddt,,,,,,,,,,,,,,,,,,,,,
1999-12-01,0.007110,-0.001800,-0.004847,0.002445,0.002805,0.005797,0.012107,0.023650,0.005128,0.003315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-02,-0.008573,-0.023445,0.000000,0.007317,-0.027972,-0.013449,-0.020335,-0.008287,-0.010204,0.007709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-03,-0.009156,0.018467,0.008117,0.037530,-0.007194,-0.006816,-0.003663,0.007597,0.002577,-0.010929,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-06,-0.021047,0.012693,0.030596,0.037340,-0.002899,0.003922,-0.014706,0.009550,0.000000,-0.003315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-07,-0.003671,-0.006267,-0.017188,-0.021372,-0.005814,0.006836,0.004975,0.002987,0.007712,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-17,-0.006736,0.008213,NaN,0.036849,0.008696,0.015766,0.027523,-0.003623,0.006930,0.005208,...,0.033722,0.018334,0.008105,0.040665,0.026592,0.017510,0.035824,0.100028,0.016844,-0.000720
2022-01-18,0.018496,0.034499,NaN,0.020435,-0.051724,0.000000,0.031250,0.003636,0.015829,-0.028497,...,-0.006587,-0.013117,-0.020771,-0.100000,-0.035446,0.001912,-0.025198,-0.038314,-0.037548,-0.047550
2022-01-19,-0.001211,0.014358,NaN,-0.037875,-0.031818,0.008869,-0.050505,0.036232,-0.027778,0.008000,...,-0.055573,-0.008861,0.003421,-0.046218,0.037456,-0.021628,0.007603,-0.054449,0.020080,0.026475
2022-01-20,0.050303,0.009589,NaN,-0.034389,-0.018779,-0.004396,0.030395,-0.041958,-0.024390,-0.021164,...,0.099967,-0.040231,-0.021480,0.014684,-0.057221,-0.032510,-0.044517,0.022472,-0.077615,-0.030951
2022-01-21,0.001154,-0.021257,NaN,-0.010309,0.009569,-0.004415,0.008850,-0.036496,0.005000,-0.005405,...,-0.082067,0.008219,-0.020209,-0.084419,-0.073699,-0.022177,-0.010266,-0.021978,-0.031707,0.000000

In [51]:
dolvol = mm.extract_variable(path='../../Data/raw_Data/01日个股回报率/',
                            fileType='csv',
                            variable='Dnvaltrd',
                            time_col='Trddt',
                            code_col='Stkcd')
dolvol

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
Trddt,,,,,,,,,,,,,,,,,,,,,
1999-12-01,7.281512e+07,2.203949e+07,10585994.01,2.830500e+06,4196588.48,2907389.12,1402280.35,2.449618e+07,2.259514e+06,1164804.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-02,3.102179e+07,2.412750e+07,10427718.87,2.424642e+06,3568202.36,3155287.35,1891345.05,9.289746e+06,3.031553e+06,1530688.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-03,5.408860e+07,1.747988e+07,9026824.13,6.888869e+06,4382571.92,3507897.43,1214678.00,9.711835e+06,3.058894e+06,1763168.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-06,1.115692e+08,1.806651e+07,27089179.43,1.383775e+07,3107183.11,2769583.33,2323489.41,6.498837e+06,2.592734e+06,1538449.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999-12-07,1.048006e+08,1.076221e+07,10909354.26,5.941992e+06,2326068.84,1559451.26,1648177.76,7.417699e+06,3.163265e+06,667198.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-17,1.855634e+09,1.311268e+09,NaN,2.049323e+08,17166423.00,53212767.00,61898088.00,1.331573e+08,1.206980e+09,35703218.00,...,412021302.0,66949900.0,33934522.0,645227576.0,96335944.0,17580630.0,40079634.0,464100793.0,104972518.0,91804717.0
2022-01-18,1.891095e+09,2.286204e+09,NaN,3.781447e+08,42561703.00,46449149.00,57607155.00,1.711108e+08,1.393954e+09,54313868.00,...,365913653.0,38862837.0,43739253.0,292363206.0,81749195.0,20107550.0,32977906.0,427475091.0,194416808.0,113059526.0
2022-01-19,1.630974e+09,2.611686e+09,NaN,2.119217e+08,57729460.00,51028808.00,70063874.00,2.765366e+08,1.116733e+09,27765593.00,...,223157373.0,42827571.0,23835141.0,400807388.0,153961124.0,25174488.0,19861237.0,244358014.0,200054954.0,84693516.0
2022-01-20,5.195806e+09,3.538267e+09,NaN,1.545342e+08,23373834.00,48834651.00,51085606.00,1.965303e+08,7.787501e+08,41035594.00,...,629772270.0,73811608.0,36088447.0,344098225.0,129397825.0,27679903.0,40827616.0,251822271.0,161063928.0,68422658.0
2022-01-21,2.575115e+09,1.717180e+09,NaN,8.920817e+07,12783802.00,35492279.00,44944769.00,1.694517e+08,6.110389e+08,26423474.00,...,559917611.0,31890769.0,31671938.0,284567863.0,107117207.0,18311186.0,17805082.0,199758221.0,71311493.0,46380260.0

In [52]:
dret = dret * 1e8
res = dret / dolvol
res = res.resample("M").mean()
res.to_csv('../../Data/factors/ill.csv')

# pricedelay
The proportion of variation in weekly returns for 36 months ending in month
t explained by four lags of weekly market returns incremental to contemporaneous market
return.  
就是r2_score对吗？

## 1. market weekly return

In [2]:
df = pd.read_csv('../../Data/raw_data/13周市场回报率/TRD_Weekcm.csv', index_col='Trdwnt')
df

,Markettype,Cwretwdeq,Cwretmdeq,Cwretwdos,Cwretmdos,Cwretwdtl,Cwretmdtl,Cwnstkcal,Cwmvosd,Cwmvttl
Trdwnt,,,,,,,,,,
1990-51,5,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
1990-51,15,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
1990-51,21,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
1990-51,31,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
1990-51,37,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
...,...,...,...,...,...,...,...,...,...,...
2022-08,95,0.021412,0.021412,0.012942,0.012942,0.013176,0.013176,4417,6.952267e+10,8.180199e+10
2022-08,101,0.019014,0.019014,0.010552,0.010552,0.011044,0.011044,3613,6.268145e+10,7.418671e+10
2022-08,111,0.018615,0.018615,0.010533,0.010533,0.011023,0.011023,3703,6.280993e+10,7.433842e+10
2022-08,117,0.022228,0.022228,0.013492,0.013492,0.014248,0.014248,4718,7.133980e+10,8.659607e+10
2022-08,127,0.021861,0.021861,0.013470,0.013470,0.014224,0.014224,4808,7.146828e+10,8.674778e+10

In [3]:
df.index = pd.to_datetime([x+'-5' for x in df.index], format='%Y-%W-%w') - pd.DateOffset(days=7)
df

,Markettype,Cwretwdeq,Cwretmdeq,Cwretwdos,Cwretmdos,Cwretwdtl,Cwretmdtl,Cwnstkcal,Cwmvosd,Cwmvttl
1990-12-14,5,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
1990-12-14,15,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
1990-12-14,21,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
1990-12-14,31,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
1990-12-14,37,NaN,NaN,NaN,NaN,NaN,NaN,6,5.373582e+05,1.813406e+06
...,...,...,...,...,...,...,...,...,...,...
2022-02-18,95,0.021412,0.021412,0.012942,0.012942,0.013176,0.013176,4417,6.952267e+10,8.180199e+10
2022-02-18,101,0.019014,0.019014,0.010552,0.010552,0.011044,0.011044,3613,6.268145e+10,7.418671e+10
2022-02-18,111,0.018615,0.018615,0.010533,0.010533,0.011023,0.011023,3703,6.280993e+10,7.433842e+10
2022-02-18,117,0.022228,0.022228,0.013492,0.013492,0.014248,0.014248,4718,7.133980e+10,8.659607e+10
2022-02-18,127,0.021861,0.021861,0.013470,0.013470,0.014224,0.014224,4808,7.146828e+10,8.674778e+10

In [4]:
mwret = df[df['Markettype'] == 5].loc[:,'Cwretwdtl']  # 5=沪深A股市场（不包含科创板、创业板）
# Cwretwdtl [考虑现金红利再投资的综合周市场回报率(总市值加权平均法)]
mwret

1990-12-14         NaN
1990-12-21    0.141059
1990-12-28    0.010085
1991-01-04    0.030370
1991-01-11   -0.001556
                ...
2022-01-14   -0.017332
2022-01-21   -0.002458
2022-01-28   -0.047686
2022-02-11    0.029990
2022-02-18    0.009622
Name: Cwretwdtl, Length: 1590, dtype: float64

In [5]:
# four lags of weekly market returns incremental to contemporaneous market return
cumu4_mwret = mwret.rolling(window=5).apply(lambda x: np.prod(x+1)-1)
cumu4_mwret

1990-12-14         NaN
1990-12-21         NaN
1990-12-28         NaN
1991-01-04         NaN
1991-01-11         NaN
                ...
2022-01-14   -0.035768
2022-01-21   -0.029265
2022-01-28   -0.073460
2022-02-11   -0.053021
2022-02-18   -0.029244
Name: Cwretwdtl, Length: 1590, dtype: float64

## 2. weekly stock return

In [6]:
df1 = pd.read_csv('../../Data/raw_data/12周个股回报率/TRD_Week.csv', index_col='Trdwnt')
df2 = pd.read_csv('../../Data/raw_data/12周个股回报率/TRD_Week1.csv', index_col='Trdwnt')
df3 = pd.read_csv('../../Data/raw_data/12周个股回报率/TRD_Week2.csv', index_col='Trdwnt')
df = pd.concat([df1,df2,df3])
df

,Stkcd,Opndt,Wopnprc,Clsdt,Wclsprc,Wnshrtrd,Wnvaltrd,Wsmvosd,Wsmvttl,Ndaytrd,Wretwd,Wretnd,Markettype,Capchgdt,Ahshrtrd_W,Ahvaltrd_W
Trdwnt,,,,,,,,,,,,,,,,
1991-14,1,1991-04-03,49.000,1991-04-06,48.280,1300,64000.0,1279420.0,2341588.26,4,NaN,NaN,4,1991-04-03,NaN,NaN
1991-15,1,1991-04-08,48.040,1991-04-13,46.840,3400,161000.0,1241260.0,2271748.01,5,-0.029826,-0.029826,4,1991-04-03,NaN,NaN
1991-16,1,1991-04-16,46.380,1991-04-20,45.460,1400,64000.0,1204690.0,2204817.77,5,-0.029462,-0.029462,4,1991-04-03,NaN,NaN
1991-17,1,1991-04-23,45.000,1991-04-26,44.340,6700,300000.0,1175010.0,2150497.58,4,-0.024637,-0.024637,4,1991-04-03,NaN,NaN
1991-18,1,1991-04-29,43.900,1991-05-04,43.020,1300,57000.0,1140030.0,2086477.36,5,-0.029770,0.365088,4,1991-04-03,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03,900957,2022-01-10,0.637,2022-01-14,0.645,821000,527053.0,118680.0,225105.00,5,0.006239,0.006240,2,2000-08-03,0.0,0.0
2022-04,900957,2022-01-17,0.647,2022-01-21,0.638,621600,398611.0,117392.0,222662.00,5,-0.010852,-0.010853,2,2000-08-03,0.0,0.0
2022-05,900957,2022-01-24,0.633,2022-01-28,0.617,1534513,944960.0,113528.0,215333.00,5,-0.032915,-0.032915,2,2000-08-03,0.0,0.0
2022-07,900957,2022-02-07,0.623,2022-02-11,0.624,701200,436139.0,114816.0,217776.00,5,0.011346,0.011345,2,2000-08-03,0.0,0.0
2022-08,900957,2022-02-14,0.620,2022-02-18,0.620,663805,409995.0,114080.0,216380.00,5,-0.006410,-0.006410,2,2000-08-03,0.0,0.0

In [7]:
df = df[df['Stkcd'].map(lambda x: (0<=x and x<= 9999) or (600000<=x and x<= 609999))]
df

,Stkcd,Opndt,Wopnprc,Clsdt,Wclsprc,Wnshrtrd,Wnvaltrd,Wsmvosd,Wsmvttl,Ndaytrd,Wretwd,Wretnd,Markettype,Capchgdt,Ahshrtrd_W,Ahvaltrd_W
Trdwnt,,,,,,,,,,,,,,,,
1991-14,1,1991-04-03,49.00,1991-04-06,48.28,1300,64000.0,1279420.00,2341588.26,4,NaN,NaN,4,1991-04-03,NaN,NaN
1991-15,1,1991-04-08,48.04,1991-04-13,46.84,3400,161000.0,1241260.00,2271748.01,5,-0.029826,-0.029826,4,1991-04-03,NaN,NaN
1991-16,1,1991-04-16,46.38,1991-04-20,45.46,1400,64000.0,1204690.00,2204817.77,5,-0.029462,-0.029462,4,1991-04-03,NaN,NaN
1991-17,1,1991-04-23,45.00,1991-04-26,44.34,6700,300000.0,1175010.00,2150497.58,4,-0.024637,-0.024637,4,1991-04-03,NaN,NaN
1991-18,1,1991-04-29,43.90,1991-05-04,43.02,1300,57000.0,1140030.00,2086477.36,5,-0.029770,0.365088,4,1991-04-03,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-03,605599,2022-01-10,13.71,2022-01-14,13.89,61071792,868917660.0,1080333.64,10803333.64,5,-0.000719,-0.000719,1,2021-09-09,0.0,0.0
2022-04,605599,2022-01-17,13.76,2022-01-21,13.15,30112749,404360677.0,1022778.07,10227778.07,5,-0.053276,-0.053276,1,2021-09-09,0.0,0.0
2022-05,605599,2022-01-24,13.19,2022-01-28,11.89,23896420,300780958.0,924778.04,9247778.04,5,-0.095817,-0.095817,1,2021-09-09,0.0,0.0
2022-07,605599,2022-02-07,13.08,2022-02-11,12.63,64437261,859338170.0,982333.61,9823333.61,5,0.062237,0.062237,1,2021-09-09,0.0,0.0
2022-08,605599,2022-02-14,12.88,2022-02-18,12.41,33646695,426113969.0,965222.50,9652222.50,5,-0.017419,-0.017419,1,2021-09-09,0.0,0.0

In [8]:
df.index = pd.to_datetime([x+'-5' for x in df.index], format='%Y-%W-%w') - pd.DateOffset(days=7)
df

,Stkcd,Opndt,Wopnprc,Clsdt,Wclsprc,Wnshrtrd,Wnvaltrd,Wsmvosd,Wsmvttl,Ndaytrd,Wretwd,Wretnd,Markettype,Capchgdt,Ahshrtrd_W,Ahvaltrd_W
1991-04-05,1,1991-04-03,49.00,1991-04-06,48.28,1300,64000.0,1279420.00,2341588.26,4,NaN,NaN,4,1991-04-03,NaN,NaN
1991-04-12,1,1991-04-08,48.04,1991-04-13,46.84,3400,161000.0,1241260.00,2271748.01,5,-0.029826,-0.029826,4,1991-04-03,NaN,NaN
1991-04-19,1,1991-04-16,46.38,1991-04-20,45.46,1400,64000.0,1204690.00,2204817.77,5,-0.029462,-0.029462,4,1991-04-03,NaN,NaN
1991-04-26,1,1991-04-23,45.00,1991-04-26,44.34,6700,300000.0,1175010.00,2150497.58,4,-0.024637,-0.024637,4,1991-04-03,NaN,NaN
1991-05-03,1,1991-04-29,43.90,1991-05-04,43.02,1300,57000.0,1140030.00,2086477.36,5,-0.029770,0.365088,4,1991-04-03,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-14,605599,2022-01-10,13.71,2022-01-14,13.89,61071792,868917660.0,1080333.64,10803333.64,5,-0.000719,-0.000719,1,2021-09-09,0.0,0.0
2022-01-21,605599,2022-01-17,13.76,2022-01-21,13.15,30112749,404360677.0,1022778.07,10227778.07,5,-0.053276,-0.053276,1,2021-09-09,0.0,0.0
2022-01-28,605599,2022-01-24,13.19,2022-01-28,11.89,23896420,300780958.0,924778.04,9247778.04,5,-0.095817,-0.095817,1,2021-09-09,0.0,0.0
2022-02-11,605599,2022-02-07,13.08,2022-02-11,12.63,64437261,859338170.0,982333.61,9823333.61,5,0.062237,0.062237,1,2021-09-09,0.0,0.0
2022-02-18,605599,2022-02-14,12.88,2022-02-18,12.41,33646695,426113969.0,965222.50,9652222.50,5,-0.017419,-0.017419,1,2021-09-09,0.0,0.0

In [9]:
wret = df.pivot_table(values='Wretwd', index=df.index, columns='Stkcd')
wret

Stkcd,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
1990-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-01-11,NaN,NaN,NaN,NaN,-0.032169,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-01-18,NaN,NaN,NaN,NaN,-0.023496,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-14,-0.050581,-0.054363,NaN,0.027936,-0.004329,-0.022026,-0.032544,-0.034965,0.036638,0.000000,...,-0.007722,0.013539,-0.012342,0.190526,0.039273,-0.008997,-0.005851,-0.009187,-0.133755,-0.000719
2022-01-21,0.062462,0.045411,NaN,-0.027176,-0.082609,0.015766,0.045872,-0.043478,-0.024948,-0.041667,...,-0.020752,-0.036145,-0.050321,-0.170092,-0.102869,-0.056420,-0.037871,0.000281,-0.108366,-0.053276
2022-01-28,-0.087608,-0.060536,NaN,-0.011837,0.014218,-0.048780,-0.068713,-0.034091,-0.089552,-0.086957,...,0.065563,-0.039946,-0.039829,-0.154373,-0.039002,-0.057732,-0.058245,-0.098034,-0.074937,-0.095817
2022-02-11,0.080227,0.041810,NaN,0.145664,0.037383,0.062937,-0.001570,0.000000,0.025761,0.062500,...,-0.027346,-0.057458,0.029630,-0.003738,0.138799,0.025529,0.017227,0.010900,0.157931,0.062237
2022-02-18,-0.019298,-0.033050,NaN,-0.079046,0.009009,-0.006579,0.042453,0.129412,0.062405,0.075630,...,-0.093610,0.034535,0.001439,-0.016260,-0.027085,0.009246,0.018323,0.023721,0.019988,-0.017419

In [10]:
m_s = pd.date_range(start='1990-12-31', end='2021-12-31', freq='M')
m_s

DatetimeIndex(['1990-12-31', '1991-01-31', '1991-02-28', '1991-03-31',
               '1991-04-30', '1991-05-31', '1991-06-30', '1991-07-31',
               '1991-08-31', '1991-09-30',
               ...
               '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30',
               '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31',
               '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', length=373, freq='M')

In [11]:
pricedelay = pd.DataFrame()
model = LinearRegression()
for endday in wret.index:
    print(endday)
    beginday = endday - pd.DateOffset(months=36)
    for stock in wret.columns:
        y = wret.loc[beginday:endday, stock]
        x = cumu4_mwret[beginday:endday]
        s = pd.concat([y,x], axis=1)
        s = s.dropna()
        
        if len(s) <=24:
            continue
            
        y = s.iloc[:,0].to_numpy()
        X = s.iloc[:,[1]].to_numpy()
        model.fit(X=X,y=y)
        pricedelay.loc[endday, stock] = r2_score(y, model.predict(X))

1990-12-21 00:00:00
1990-12-28 00:00:00
1991-01-04 00:00:00
1991-01-11 00:00:00
1991-01-18 00:00:00
1991-01-25 00:00:00
1991-02-01 00:00:00
1991-02-08 00:00:00
1991-02-15 00:00:00
1991-02-22 00:00:00
1991-03-01 00:00:00
1991-03-08 00:00:00
1991-03-15 00:00:00
1991-03-22 00:00:00
1991-03-29 00:00:00
1991-04-05 00:00:00
1991-04-12 00:00:00
1991-04-19 00:00:00
1991-04-26 00:00:00
1991-05-03 00:00:00
1991-05-10 00:00:00
1991-05-17 00:00:00
1991-05-24 00:00:00
1991-05-31 00:00:00
1991-06-07 00:00:00
1991-06-14 00:00:00
1991-06-21 00:00:00
1991-06-28 00:00:00
1991-07-05 00:00:00
1991-07-12 00:00:00
1991-07-19 00:00:00
1991-07-26 00:00:00
1991-08-02 00:00:00
1991-08-09 00:00:00
1991-08-16 00:00:00
1991-08-23 00:00:00
1991-08-30 00:00:00
1991-09-06 00:00:00
1991-09-13 00:00:00
1991-09-20 00:00:00
1991-09-27 00:00:00
1991-10-04 00:00:00
1991-10-11 00:00:00
1991-10-18 00:00:00
1991-10-25 00:00:00
1991-11-01 00:00:00
1991-11-08 00:00:00
1991-11-15 00:00:00
1991-11-22 00:00:00
1991-11-29 00:00:00
1991-12-06 00:00:00
1991-12-13 00:00:00
1991-12-20 00:00:00
1991-12-27 00:00:00
1992-01-03 00:00:00
1992-01-10 00:00:00
1992-01-17 00:00:00
1992-01-24 00:00:00
1992-01-31 00:00:00
1992-02-07 00:00:00
1992-02-14 00:00:00
1992-02-21 00:00:00
1992-02-28 00:00:00
1992-03-06 00:00:00
1992-03-13 00:00:00
1992-03-20 00:00:00
1992-03-27 00:00:00
1992-04-03 00:00:00
1992-04-10 00:00:00
1992-04-17 00:00:00
1992-04-24 00:00:00
1992-05-01 00:00:00
1992-05-08 00:00:00
1992-05-15 00:00:00
1992-05-22 00:00:00
1992-05-29 00:00:00
1992-06-05 00:00:00
1992-06-12 00:00:00
1992-06-19 00:00:00
1992-06-26 00:00:00
1992-07-03 00:00:00
1992-07-10 00:00:00
1992-07-17 00:00:00
1992-07-24 00:00:00
1992-07-31 00:00:00
1992-08-07 00:00:00
1992-08-14 00:00:00
1992-08-21 00:00:00
1992-08-28 00:00:00
1992-09-04 00:00:00
1992-09-11 00:00:00
1992-09-18 00:00:00
1992-09-25 00:00:00
1992-10-02 00:00:00
1992-10-09 00:00:00
1992-10-16 00:00:00
1992-10-23 00:00:00
1992-10-30 00:00:00
1992-11-06 00:00:00
1992-11-13 00:00:00
1992-11-20 00:00:00
1992-11-27 00:00:00
1992-12-04 00:00:00
1992-12-11 00:00:00
1992-12-18 00:00:00
1992-12-25 00:00:00
1993-01-01 00:00:00
1993-01-08 00:00:00
1993-01-15 00:00:00
1993-01-22 00:00:00
1993-01-29 00:00:00
1993-02-05 00:00:00
1993-02-12 00:00:00
1993-02-19 00:00:00
1993-02-26 00:00:00
1993-03-05 00:00:00
1993-03-12 00:00:00
1993-03-19 00:00:00
1993-03-26 00:00:00
1993-04-02 00:00:00
1993-04-09 00:00:00
1993-04-16 00:00:00
1993-04-23 00:00:00
1993-04-30 00:00:00
1993-05-07 00:00:00
1993-05-14 00:00:00
1993-05-21 00:00:00
1993-05-28 00:00:00
1993-06-04 00:00:00
1993-06-11 00:00:00
1993-06-18 00:00:00
1993-06-25 00:00:00
1993-07-02 00:00:00
1993-07-09 00:00:00
1993-07-16 00:00:00
1993-07-23 00:00:00
1993-07-30 00:00:00
1993-08-06 00:00:00
1993-08-13 00:00:00
1993-08-20 00:00:00
1993-08-27 00:00:00
1993-09-03 00:00:00
1993-09-10 00:00:00
1993-09-17 00:00:00
1993-09-24 00:00:00
1993-10-01 00:00:00
1993-10-08 00:00:00
1993-10-15 00:00:00
1993-10-22 00:00:00
1993-10-29 00:00:00
1993-11-05 00:00:00
1993-11-12 00:00:00
1993-11-19 00:00:00
1993-11-26 00:00:00
1993-12-03 00:00:00
1993-12-10 00:00:00
1993-12-17 00:00:00
1993-12-24 00:00:00
1993-12-31 00:00:00
1994-01-07 00:00:00
1994-01-14 00:00:00
1994-01-21 00:00:00
1994-01-28 00:00:00
1994-02-04 00:00:00
1994-02-18 00:00:00
1994-02-25 00:00:00
1994-03-04 00:00:00
1994-03-11 00:00:00
1994-03-18 00:00:00
1994-03-25 00:00:00
1994-04-01 00:00:00
1994-04-08 00:00:00
1994-04-15 00:00:00
1994-04-22 00:00:00
1994-04-29 00:00:00
1994-05-06 00:00:00
1994-05-13 00:00:00
1994-05-20 00:00:00
1994-05-27 00:00:00
1994-06-03 00:00:00
1994-06-10 00:00:00
1994-06-17 00:00:00
1994-06-24 00:00:00
1994-07-01 00:00:00
1994-07-08 00:00:00
1994-07-15 00:00:00
1994-07-22 00:00:00
1994-07-29 00:00:00
1994-08-05 00:00:00
1994-08-12 00:00:00
1994-08-19 00:00:00
1994-08-26 00:00:00
1994-09-02 00:00:00
1994-09-09 00:00:00
1994-09-16 00:00:00
1994-09-23 00:00:00
1994-09-30 00:00:00
1994-10-07 00:00:00
1994-10-14 00:00:00
1994-10-21 00:00:00
1994-10-28 00:00:00
1994-11-04 00:00:00
1994-11-11 00:00:00
1994-11-18 00:00:00
1994-11-25 00:00:00
1994-12-02 00:00:00
1994-12-09 00:00:00
1994-12-16 00:00:00
1994-12-23 00:00:00
1994-12-30 00:00:00
1995-01-06 00:00:00
1995-01-13 00:00:00
1995-01-20 00:00:00
1995-02-03 00:00:00
1995-02-10 00:00:00
1995-02-17 00:00:00
1995-02-24 00:00:00
1995-03-03 00:00:00
1995-03-10 00:00:00
1995-03-17 00:00:00
1995-03-24 00:00:00
1995-03-31 00:00:00
1995-04-07 00:00:00
1995-04-14 00:00:00
1995-04-21 00:00:00
1995-04-28 00:00:00
1995-05-05 00:00:00
1995-05-12 00:00:00
1995-05-19 00:00:00
1995-05-26 00:00:00
1995-06-02 00:00:00
1995-06-09 00:00:00
1995-06-16 00:00:00
1995-06-23 00:00:00
1995-06-30 00:00:00
1995-07-07 00:00:00
1995-07-14 00:00:00
1995-07-21 00:00:00
1995-07-28 00:00:00
1995-08-04 00:00:00
1995-08-11 00:00:00
1995-08-18 00:00:00
1995-08-25 00:00:00
1995-09-01 00:00:00
1995-09-08 00:00:00
1995-09-15 00:00:00
1995-09-22 00:00:00
1995-09-29 00:00:00
1995-10-06 00:00:00
1995-10-13 00:00:00
1995-10-20 00:00:00
1995-10-27 00:00:00
1995-11-03 00:00:00
1995-11-10 00:00:00
1995-11-17 00:00:00
1995-11-24 00:00:00
1995-12-01 00:00:00
1995-12-08 00:00:00
1995-12-15 00:00:00
1995-12-22 00:00:00
1995-12-29 00:00:00
1996-01-05 00:00:00
1996-01-12 00:00:00
1996-01-19 00:00:00
1996-01-26 00:00:00
1996-02-02 00:00:00
1996-02-09 00:00:00
1996-03-01 00:00:00
1996-03-08 00:00:00
1996-03-15 00:00:00
1996-03-22 00:00:00
1996-03-29 00:00:00
1996-04-05 00:00:00
1996-04-12 00:00:00
1996-04-19 00:00:00
1996-04-26 00:00:00
1996-05-03 00:00:00
1996-05-10 00:00:00
1996-05-17 00:00:00
1996-05-24 00:00:00
1996-05-31 00:00:00
1996-06-07 00:00:00
1996-06-14 00:00:00
1996-06-21 00:00:00
1996-06-28 00:00:00
1996-07-05 00:00:00
1996-07-12 00:00:00
1996-07-19 00:00:00
1996-07-26 00:00:00
1996-08-02 00:00:00
1996-08-09 00:00:00
1996-08-16 00:00:00
1996-08-23 00:00:00
1996-08-30 00:00:00
1996-09-06 00:00:00
1996-09-13 00:00:00
1996-09-20 00:00:00
1996-09-27 00:00:00
1996-10-04 00:00:00
1996-10-11 00:00:00
1996-10-18 00:00:00
1996-10-25 00:00:00
1996-11-01 00:00:00
1996-11-08 00:00:00
1996-11-15 00:00:00
1996-11-22 00:00:00
1996-11-29 00:00:00
1996-12-06 00:00:00
1996-12-13 00:00:00
1996-12-20 00:00:00
1996-12-27 00:00:00
1997-01-03 00:00:00
1997-01-10 00:00:00
1997-01-17 00:00:00
1997-01-24 00:00:00
1997-01-31 00:00:00
1997-02-21 00:00:00
1997-02-28 00:00:00
1997-03-07 00:00:00
1997-03-14 00:00:00
1997-03-21 00:00:00
1997-03-28 00:00:00
1997-04-04 00:00:00
1997-04-11 00:00:00
1997-04-18 00:00:00
1997-04-25 00:00:00
1997-05-02 00:00:00
1997-05-09 00:00:00
1997-05-16 00:00:00
1997-05-23 00:00:00
1997-05-30 00:00:00
1997-06-06 00:00:00
1997-06-13 00:00:00
1997-06-20 00:00:00
1997-06-27 00:00:00
1997-07-04 00:00:00
1997-07-11 00:00:00
1997-07-18 00:00:00
1997-07-25 00:00:00
1997-08-01 00:00:00
1997-08-08 00:00:00
1997-08-15 00:00:00
1997-08-22 00:00:00
1997-08-29 00:00:00
1997-09-05 00:00:00
1997-09-12 00:00:00
1997-09-19 00:00:00
1997-09-26 00:00:00
1997-10-03 00:00:00
1997-10-10 00:00:00
1997-10-17 00:00:00
1997-10-24 00:00:00
1997-10-31 00:00:00
1997-11-07 00:00:00
1997-11-14 00:00:00
1997-11-21 00:00:00
1997-11-28 00:00:00
1997-12-05 00:00:00
1997-12-12 00:00:00
1997-12-19 00:00:00
1997-12-26 00:00:00
1998-01-02 00:00:00
1998-01-09 00:00:00
1998-01-16 00:00:00
1998-01-23 00:00:00
1998-02-13 00:00:00
1998-02-20 00:00:00
1998-02-27 00:00:00
1998-03-06 00:00:00
1998-03-13 00:00:00
1998-03-20 00:00:00
1998-03-27 00:00:00
1998-04-03 00:00:00
1998-04-10 00:00:00
1998-04-17 00:00:00
1998-04-24 00:00:00
1998-05-01 00:00:00
1998-05-08 00:00:00
1998-05-15 00:00:00
1998-05-22 00:00:00
1998-05-29 00:00:00
1998-06-05 00:00:00
1998-06-12 00:00:00
1998-06-19 00:00:00
1998-06-26 00:00:00
1998-07-03 00:00:00
1998-07-10 00:00:00
1998-07-17 00:00:00
1998-07-24 00:00:00
1998-07-31 00:00:00
1998-08-07 00:00:00
1998-08-14 00:00:00
1998-08-21 00:00:00
1998-08-28 00:00:00
1998-09-04 00:00:00
1998-09-11 00:00:00
1998-09-18 00:00:00
1998-09-25 00:00:00
1998-10-02 00:00:00
1998-10-09 00:00:00
1998-10-16 00:00:00
1998-10-23 00:00:00
1998-10-30 00:00:00
1998-11-06 00:00:00
1998-11-13 00:00:00
1998-11-20 00:00:00
1998-11-27 00:00:00
1998-12-04 00:00:00
1998-12-11 00:00:00
1998-12-18 00:00:00

1998-12-25 00:00:00
1999-01-01 00:00:00
1999-01-08 00:00:00
1999-01-15 00:00:00
1999-01-22 00:00:00
1999-01-29 00:00:00
1999-02-05 00:00:00
1999-02-12 00:00:00
1999-03-05 00:00:00
1999-03-12 00:00:00
1999-03-19 00:00:00
1999-03-26 00:00:00
1999-04-02 00:00:00
1999-04-09 00:00:00
1999-04-16 00:00:00
1999-04-23 00:00:00
1999-04-30 00:00:00
1999-05-07 00:00:00
1999-05-14 00:00:00
1999-05-21 00:00:00
1999-05-28 00:00:00
1999-06-04 00:00:00
1999-06-11 00:00:00
1999-06-18 00:00:00
1999-06-25 00:00:00
1999-07-02 00:00:00
1999-07-09 00:00:00
1999-07-16 00:00:00
1999-07-23 00:00:00
1999-07-30 00:00:00
1999-08-06 00:00:00
1999-08-13 00:00:00
1999-08-20 00:00:00
1999-08-27 00:00:00
1999-09-03 00:00:00
1999-09-10 00:00:00
1999-09-17 00:00:00
1999-09-24 00:00:00
1999-10-01 00:00:00
1999-10-08 00:00:00
1999-10-15 00:00:00
1999-10-22 00:00:00
1999-10-29 00:00:00
1999-11-05 00:00:00
1999-11-12 00:00:00
1999-11-19 00:00:00
1999-11-26 00:00:00
1999-12-03 00:00:00
1999-12-10 00:00:00
1999-12-17 00:00:00
1999-12-24 00:00:00
1999-12-31 00:00:00
2000-01-07 00:00:00
2000-01-14 00:00:00
2000-01-21 00:00:00
2000-01-28 00:00:00
2000-02-18 00:00:00
2000-02-25 00:00:00
2000-03-03 00:00:00
2000-03-10 00:00:00
2000-03-17 00:00:00
2000-03-24 00:00:00
2000-03-31 00:00:00
2000-04-07 00:00:00
2000-04-14 00:00:00
2000-04-21 00:00:00
2000-04-28 00:00:00
2000-05-12 00:00:00
2000-05-19 00:00:00
2000-05-26 00:00:00
2000-06-02 00:00:00
2000-06-09 00:00:00
2000-06-16 00:00:00
2000-06-23 00:00:00
2000-06-30 00:00:00
2000-07-07 00:00:00
2000-07-14 00:00:00
2000-07-21 00:00:00
2000-07-28 00:00:00
2000-08-04 00:00:00
2000-08-11 00:00:00
2000-08-18 00:00:00
2000-08-25 00:00:00
2000-09-01 00:00:00
2000-09-08 00:00:00
2000-09-15 00:00:00
2000-09-22 00:00:00
2000-09-29 00:00:00
2000-10-13 00:00:00
2000-10-20 00:00:00
2000-10-27 00:00:00
2000-11-03 00:00:00
2000-11-10 00:00:00
2000-11-17 00:00:00
2000-11-24 00:00:00
2000-12-01 00:00:00
2000-12-08 00:00:00
2000-12-15 00:00:00
2000-12-22 00:00:00
2000-12-29 00:00:00
2001-01-05 00:00:00
2001-01-12 00:00:00
2001-02-02 00:00:00
2001-02-09 00:00:00
2001-02-16 00:00:00
2001-02-23 00:00:00
2001-03-02 00:00:00
2001-03-09 00:00:00
2001-03-16 00:00:00
2001-03-23 00:00:00
2001-03-30 00:00:00
2001-04-06 00:00:00
2001-04-13 00:00:00
2001-04-20 00:00:00
2001-04-27 00:00:00
2001-05-04 00:00:00
2001-05-11 00:00:00
2001-05-18 00:00:00
2001-05-25 00:00:00
2001-06-01 00:00:00
2001-06-08 00:00:00
2001-06-15 00:00:00
2001-06-22 00:00:00
2001-06-29 00:00:00
2001-07-06 00:00:00
2001-07-13 00:00:00
2001-07-20 00:00:00
2001-07-27 00:00:00
2001-08-03 00:00:00
2001-08-10 00:00:00
2001-08-17 00:00:00
2001-08-24 00:00:00
2001-08-31 00:00:00
2001-09-07 00:00:00
2001-09-14 00:00:00
2001-09-21 00:00:00
2001-10-05 00:00:00
2001-10-12 00:00:00
2001-10-19 00:00:00
2001-10-26 00:00:00
2001-11-02 00:00:00
2001-11-09 00:00:00
2001-11-16 00:00:00
2001-11-23 00:00:00
2001-11-30 00:00:00
2001-12-07 00:00:00
2001-12-14 00:00:00
2001-12-21 00:00:00
2001-12-28 00:00:00
2002-01-04 00:00:00
2002-01-11 00:00:00
2002-01-18 00:00:00
2002-01-25 00:00:00
2002-02-01 00:00:00
2002-02-08 00:00:00
2002-03-01 00:00:00
2002-03-08 00:00:00
2002-03-15 00:00:00
2002-03-22 00:00:00
2002-03-29 00:00:00
2002-04-05 00:00:00
2002-04-12 00:00:00
2002-04-19 00:00:00
2002-04-26 00:00:00
2002-05-03 00:00:00
2002-05-10 00:00:00
2002-05-17 00:00:00
2002-05-24 00:00:00
2002-05-31 00:00:00
2002-06-07 00:00:00
2002-06-14 00:00:00
2002-06-21 00:00:00
2002-06-28 00:00:00
2002-07-05 00:00:00
2002-07-12 00:00:00
2002-07-19 00:00:00
2002-07-26 00:00:00
2002-08-02 00:00:00
2002-08-09 00:00:00
2002-08-16 00:00:00
2002-08-23 00:00:00
2002-08-30 00:00:00
2002-09-06 00:00:00
2002-09-13 00:00:00
2002-09-20 00:00:00
2002-09-27 00:00:00
2002-10-11 00:00:00
2002-10-18 00:00:00
2002-10-25 00:00:00
2002-11-01 00:00:00
2002-11-08 00:00:00
2002-11-15 00:00:00
2002-11-22 00:00:00
2002-11-29 00:00:00
2002-12-06 00:00:00
2002-12-13 00:00:00
2002-12-20 00:00:00
2002-12-27 00:00:00
2003-01-03 00:00:00
2003-01-10 00:00:00
2003-01-17 00:00:00
2003-01-24 00:00:00
2003-01-31 00:00:00
2003-02-14 00:00:00
2003-02-21 00:00:00
2003-02-28 00:00:00
2003-03-07 00:00:00
2003-03-14 00:00:00
2003-03-21 00:00:00
2003-03-28 00:00:00
2003-04-04 00:00:00
2003-04-11 00:00:00
2003-04-18 00:00:00
2003-04-25 00:00:00
2003-05-02 00:00:00
2003-05-16 00:00:00
2003-05-23 00:00:00
2003-05-30 00:00:00
2003-06-06 00:00:00
2003-06-13 00:00:00
2003-06-20 00:00:00
2003-06-27 00:00:00
2003-07-04 00:00:00
2003-07-11 00:00:00
2003-07-18 00:00:00
2003-07-25 00:00:00
2003-08-01 00:00:00
2003-08-08 00:00:00
2003-08-15 00:00:00
2003-08-22 00:00:00
2003-08-29 00:00:00
2003-09-05 00:00:00
2003-09-12 00:00:00
2003-09-19 00:00:00
2003-09-26 00:00:00
2003-10-03 00:00:00
2003-10-10 00:00:00
2003-10-17 00:00:00
2003-10-24 00:00:00
2003-10-31 00:00:00
2003-11-07 00:00:00
2003-11-14 00:00:00
2003-11-21 00:00:00
2003-11-28 00:00:00
2003-12-05 00:00:00
2003-12-12 00:00:00
2003-12-19 00:00:00
2003-12-26 00:00:00
2004-01-02 00:00:00
2004-01-09 00:00:00
2004-01-16 00:00:00
2004-01-30 00:00:00
2004-02-06 00:00:00
2004-02-13 00:00:00
2004-02-20 00:00:00
2004-02-27 00:00:00
2004-03-05 00:00:00
2004-03-12 00:00:00
2004-03-19 00:00:00
2004-03-26 00:00:00
2004-04-02 00:00:00
2004-04-09 00:00:00
2004-04-16 00:00:00
2004-04-23 00:00:00
2004-04-30 00:00:00
2004-05-14 00:00:00
2004-05-21 00:00:00
2004-05-28 00:00:00
2004-06-04 00:00:00
2004-06-11 00:00:00
2004-06-18 00:00:00
2004-06-25 00:00:00
2004-07-02 00:00:00
2004-07-09 00:00:00
2004-07-16 00:00:00
2004-07-23 00:00:00
2004-07-30 00:00:00
2004-08-06 00:00:00
2004-08-13 00:00:00
2004-08-20 00:00:00
2004-08-27 00:00:00
2004-09-03 00:00:00
2004-09-10 00:00:00
2004-09-17 00:00:00
2004-09-24 00:00:00
2004-10-01 00:00:00
2004-10-08 00:00:00
2004-10-15 00:00:00
2004-10-22 00:00:00
2004-10-29 00:00:00
2004-11-05 00:00:00
2004-11-12 00:00:00
2004-11-19 00:00:00
2004-11-26 00:00:00
2004-12-03 00:00:00
2004-12-10 00:00:00
2004-12-17 00:00:00
2004-12-24 00:00:00
2004-12-31 00:00:00
2005-01-07 00:00:00
2005-01-14 00:00:00
2005-01-21 00:00:00
2005-01-28 00:00:00
2005-02-04 00:00:00
2005-02-18 00:00:00
2005-02-25 00:00:00
2005-03-04 00:00:00
2005-03-11 00:00:00
2005-03-18 00:00:00
2005-03-25 00:00:00
2005-04-01 00:00:00
2005-04-08 00:00:00
2005-04-15 00:00:00
2005-04-22 00:00:00
2005-04-29 00:00:00
2005-05-13 00:00:00
2005-05-20 00:00:00
2005-05-27 00:00:00
2005-06-03 00:00:00
2005-06-10 00:00:00
2005-06-17 00:00:00
2005-06-24 00:00:00
2005-07-01 00:00:00
2005-07-08 00:00:00
2005-07-15 00:00:00
2005-07-22 00:00:00
2005-07-29 00:00:00
2005-08-05 00:00:00
2005-08-12 00:00:00
2005-08-19 00:00:00
2005-08-26 00:00:00
2005-09-02 00:00:00
2005-09-09 00:00:00
2005-09-16 00:00:00
2005-09-23 00:00:00
2005-09-30 00:00:00
2005-10-14 00:00:00
2005-10-21 00:00:00
2005-10-28 00:00:00
2005-11-04 00:00:00
2005-11-11 00:00:00
2005-11-18 00:00:00
2005-11-25 00:00:00
2005-12-02 00:00:00
2005-12-09 00:00:00
2005-12-16 00:00:00
2005-12-23 00:00:00
2005-12-30 00:00:00
2006-01-06 00:00:00
2006-01-13 00:00:00
2006-01-20 00:00:00
2006-02-03 00:00:00
2006-02-10 00:00:00
2006-02-17 00:00:00
2006-02-24 00:00:00
2006-03-03 00:00:00
2006-03-10 00:00:00
2006-03-17 00:00:00
2006-03-24 00:00:00
2006-03-31 00:00:00
2006-04-07 00:00:00
2006-04-14 00:00:00
2006-04-21 00:00:00
2006-05-05 00:00:00
2006-05-12 00:00:00
2006-05-19 00:00:00
2006-05-26 00:00:00
2006-06-02 00:00:00
2006-06-09 00:00:00
2006-06-16 00:00:00
2006-06-23 00:00:00
2006-06-30 00:00:00
2006-07-07 00:00:00
2006-07-14 00:00:00
2006-07-21 00:00:00
2006-07-28 00:00:00
2006-08-04 00:00:00
2006-08-11 00:00:00
2006-08-18 00:00:00
2006-08-25 00:00:00
2006-09-01 00:00:00
2006-09-08 00:00:00
2006-09-15 00:00:00
2006-09-22 00:00:00
2006-10-06 00:00:00
2006-10-13 00:00:00
2006-10-20 00:00:00
2006-10-27 00:00:00
2006-11-03 00:00:00
2006-11-10 00:00:00
2006-11-17 00:00:00
2006-11-24 00:00:00
2006-12-01 00:00:00
2006-12-08 00:00:00
2006-12-15 00:00:00
2006-12-22 00:00:00
2006-12-29 00:00:00
2007-01-05 00:00:00
2007-01-12 00:00:00
2007-01-19 00:00:00
2007-01-26 00:00:00
2007-02-02 00:00:00
2007-02-09 00:00:00
2007-02-23 00:00:00
2007-03-02 00:00:00
2007-03-09 00:00:00
2007-03-16 00:00:00
2007-03-23 00:00:00
2007-03-30 00:00:00
2007-04-06 00:00:00

2007-04-13 00:00:00
2007-04-20 00:00:00
2007-04-27 00:00:00
2007-05-04 00:00:00
2007-05-11 00:00:00
2007-05-18 00:00:00
2007-05-25 00:00:00
2007-06-01 00:00:00
2007-06-08 00:00:00
2007-06-15 00:00:00
2007-06-22 00:00:00
2007-06-29 00:00:00
2007-07-06 00:00:00
2007-07-13 00:00:00
2007-07-20 00:00:00
2007-07-27 00:00:00
2007-08-03 00:00:00
2007-08-10 00:00:00
2007-08-17 00:00:00
2007-08-24 00:00:00
2007-08-31 00:00:00
2007-09-07 00:00:00
2007-09-14 00:00:00
2007-09-21 00:00:00
2007-10-05 00:00:00
2007-10-12 00:00:00
2007-10-19 00:00:00
2007-10-26 00:00:00
2007-11-02 00:00:00
2007-11-09 00:00:00
2007-11-16 00:00:00
2007-11-23 00:00:00
2007-11-30 00:00:00
2007-12-07 00:00:00
2007-12-14 00:00:00
2007-12-21 00:00:00
2008-01-04 00:00:00
2008-01-11 00:00:00
2008-01-18 00:00:00
2008-01-25 00:00:00
2008-02-01 00:00:00
2008-02-08 00:00:00
2008-02-15 00:00:00
2008-02-22 00:00:00
2008-02-29 00:00:00
2008-03-07 00:00:00
2008-03-14 00:00:00
2008-03-21 00:00:00
2008-03-28 00:00:00
2008-04-04 00:00:00
2008-04-11 00:00:00
2008-04-18 00:00:00
2008-04-25 00:00:00
2008-05-02 00:00:00
2008-05-09 00:00:00
2008-05-16 00:00:00
2008-05-23 00:00:00
2008-05-30 00:00:00
2008-06-06 00:00:00
2008-06-13 00:00:00
2008-06-20 00:00:00
2008-06-27 00:00:00
2008-07-04 00:00:00
2008-07-11 00:00:00
2008-07-18 00:00:00
2008-07-25 00:00:00
2008-08-01 00:00:00
2008-08-08 00:00:00
2008-08-15 00:00:00
2008-08-22 00:00:00
2008-08-29 00:00:00
2008-09-05 00:00:00
2008-09-12 00:00:00
2008-09-19 00:00:00
2008-09-26 00:00:00
2008-10-10 00:00:00
2008-10-17 00:00:00
2008-10-24 00:00:00
2008-10-31 00:00:00
2008-11-07 00:00:00
2008-11-14 00:00:00
2008-11-21 00:00:00
2008-11-28 00:00:00
2008-12-05 00:00:00
2008-12-12 00:00:00
2008-12-19 00:00:00
2008-12-26 00:00:00
2009-01-02 00:00:00
2009-01-09 00:00:00
2009-01-16 00:00:00
2009-01-23 00:00:00
2009-02-06 00:00:00
2009-02-13 00:00:00
2009-02-20 00:00:00
2009-02-27 00:00:00
2009-03-06 00:00:00
2009-03-13 00:00:00
2009-03-20 00:00:00
2009-03-27 00:00:00
2009-04-03 00:00:00
2009-04-10 00:00:00
2009-04-17 00:00:00
2009-04-24 00:00:00
2009-05-01 00:00:00
2009-05-08 00:00:00
2009-05-15 00:00:00
2009-05-22 00:00:00
2009-05-29 00:00:00
2009-06-05 00:00:00
2009-06-12 00:00:00
2009-06-19 00:00:00
2009-06-26 00:00:00
2009-07-03 00:00:00
2009-07-10 00:00:00
2009-07-17 00:00:00
2009-07-24 00:00:00
2009-07-31 00:00:00
2009-08-07 00:00:00
2009-08-14 00:00:00
2009-08-21 00:00:00
2009-08-28 00:00:00
2009-09-04 00:00:00
2009-09-11 00:00:00
2009-09-18 00:00:00
2009-09-25 00:00:00
2009-10-02 00:00:00
2009-10-09 00:00:00
2009-10-16 00:00:00
2009-10-23 00:00:00
2009-10-30 00:00:00
2009-11-06 00:00:00
2009-11-13 00:00:00
2009-11-20 00:00:00
2009-11-27 00:00:00
2009-12-04 00:00:00
2009-12-11 00:00:00
2009-12-18 00:00:00
2009-12-25 00:00:00
2010-01-01 00:00:00
2010-01-08 00:00:00
2010-01-15 00:00:00
2010-01-22 00:00:00
2010-01-29 00:00:00
2010-02-05 00:00:00
2010-02-12 00:00:00
2010-02-26 00:00:00
2010-03-05 00:00:00
2010-03-12 00:00:00
2010-03-19 00:00:00
2010-03-26 00:00:00
2010-04-02 00:00:00
2010-04-09 00:00:00
2010-04-16 00:00:00
2010-04-23 00:00:00
2010-04-30 00:00:00
2010-05-07 00:00:00
2010-05-14 00:00:00
2010-05-21 00:00:00
2010-05-28 00:00:00
2010-06-04 00:00:00
2010-06-11 00:00:00
2010-06-18 00:00:00
2010-06-25 00:00:00
2010-07-02 00:00:00
2010-07-09 00:00:00
2010-07-16 00:00:00
2010-07-23 00:00:00
2010-07-30 00:00:00
2010-08-06 00:00:00
2010-08-13 00:00:00
2010-08-20 00:00:00
2010-08-27 00:00:00
2010-09-03 00:00:00
2010-09-10 00:00:00
2010-09-17 00:00:00
2010-09-24 00:00:00
2010-10-01 00:00:00
2010-10-08 00:00:00
2010-10-15 00:00:00
2010-10-22 00:00:00
2010-10-29 00:00:00
2010-11-05 00:00:00
2010-11-12 00:00:00
2010-11-19 00:00:00
2010-11-26 00:00:00
2010-12-03 00:00:00
2010-12-10 00:00:00
2010-12-17 00:00:00
2010-12-24 00:00:00
2010-12-31 00:00:00
2011-01-07 00:00:00
2011-01-14 00:00:00
2011-01-21 00:00:00
2011-01-28 00:00:00
2011-02-04 00:00:00
2011-02-11 00:00:00
2011-02-18 00:00:00
2011-02-25 00:00:00
2011-03-04 00:00:00
2011-03-11 00:00:00
2011-03-18 00:00:00
2011-03-25 00:00:00
2011-04-01 00:00:00
2011-04-08 00:00:00
2011-04-15 00:00:00
2011-04-22 00:00:00
2011-04-29 00:00:00
2011-05-06 00:00:00
2011-05-13 00:00:00
2011-05-20 00:00:00
2011-05-27 00:00:00
2011-06-03 00:00:00
2011-06-10 00:00:00
2011-06-17 00:00:00
2011-06-24 00:00:00
2011-07-01 00:00:00
2011-07-08 00:00:00
2011-07-15 00:00:00
2011-07-22 00:00:00
2011-07-29 00:00:00
2011-08-05 00:00:00
2011-08-12 00:00:00
2011-08-19 00:00:00
2011-08-26 00:00:00
2011-09-02 00:00:00
2011-09-09 00:00:00
2011-09-16 00:00:00
2011-09-23 00:00:00
2011-09-30 00:00:00
2011-10-14 00:00:00
2011-10-21 00:00:00
2011-10-28 00:00:00
2011-11-04 00:00:00
2011-11-11 00:00:00
2011-11-18 00:00:00
2011-11-25 00:00:00
2011-12-02 00:00:00
2011-12-09 00:00:00
2011-12-16 00:00:00
2011-12-23 00:00:00
2011-12-30 00:00:00
2012-01-06 00:00:00
2012-01-13 00:00:00
2012-01-27 00:00:00
2012-02-03 00:00:00
2012-02-10 00:00:00
2012-02-17 00:00:00
2012-02-24 00:00:00
2012-03-02 00:00:00
2012-03-09 00:00:00
2012-03-16 00:00:00
2012-03-23 00:00:00
2012-03-30 00:00:00
2012-04-06 00:00:00
2012-04-13 00:00:00
2012-04-20 00:00:00
2012-04-27 00:00:00
2012-05-04 00:00:00
2012-05-11 00:00:00
2012-05-18 00:00:00
2012-05-25 00:00:00
2012-06-01 00:00:00
2012-06-08 00:00:00
2012-06-15 00:00:00
2012-06-22 00:00:00
2012-06-29 00:00:00
2012-07-06 00:00:00
2012-07-13 00:00:00
2012-07-20 00:00:00
2012-07-27 00:00:00
2012-08-03 00:00:00
2012-08-10 00:00:00
2012-08-17 00:00:00
2012-08-24 00:00:00
2012-08-31 00:00:00
2012-09-07 00:00:00
2012-09-14 00:00:00
2012-09-21 00:00:00
2012-10-05 00:00:00
2012-10-12 00:00:00
2012-10-19 00:00:00
2012-10-26 00:00:00
2012-11-02 00:00:00
2012-11-09 00:00:00
2012-11-16 00:00:00
2012-11-23 00:00:00
2012-11-30 00:00:00
2012-12-07 00:00:00
2012-12-14 00:00:00
2012-12-21 00:00:00
2012-12-28 00:00:00
2013-01-04 00:00:00
2013-01-11 00:00:00
2013-01-18 00:00:00
2013-01-25 00:00:00
2013-02-01 00:00:00
2013-02-08 00:00:00
2013-02-22 00:00:00
2013-03-01 00:00:00
2013-03-08 00:00:00
2013-03-15 00:00:00
2013-03-22 00:00:00
2013-03-29 00:00:00
2013-04-05 00:00:00
2013-04-12 00:00:00
2013-04-19 00:00:00
2013-04-26 00:00:00
2013-05-03 00:00:00
2013-05-10 00:00:00
2013-05-17 00:00:00
2013-05-24 00:00:00
2013-05-31 00:00:00
2013-06-07 00:00:00
2013-06-14 00:00:00
2013-06-21 00:00:00
2013-06-28 00:00:00
2013-07-05 00:00:00
2013-07-12 00:00:00
2013-07-19 00:00:00
2013-07-26 00:00:00
2013-08-02 00:00:00
2013-08-09 00:00:00
2013-08-16 00:00:00
2013-08-23 00:00:00
2013-08-30 00:00:00
2013-09-06 00:00:00
2013-09-13 00:00:00
2013-09-20 00:00:00
2013-09-27 00:00:00
2013-10-04 00:00:00
2013-10-11 00:00:00
2013-10-18 00:00:00
2013-10-25 00:00:00
2013-11-01 00:00:00
2013-11-08 00:00:00
2013-11-15 00:00:00
2013-11-22 00:00:00
2013-11-29 00:00:00
2013-12-06 00:00:00
2013-12-13 00:00:00
2013-12-20 00:00:00
2013-12-27 00:00:00
2014-01-03 00:00:00
2014-01-10 00:00:00
2014-01-17 00:00:00
2014-01-24 00:00:00
2014-01-31 00:00:00
2014-02-07 00:00:00
2014-02-14 00:00:00
2014-02-21 00:00:00
2014-02-28 00:00:00
2014-03-07 00:00:00
2014-03-14 00:00:00
2014-03-21 00:00:00
2014-03-28 00:00:00
2014-04-04 00:00:00
2014-04-11 00:00:00
2014-04-18 00:00:00
2014-04-25 00:00:00
2014-05-02 00:00:00
2014-05-09 00:00:00
2014-05-16 00:00:00
2014-05-23 00:00:00
2014-05-30 00:00:00
2014-06-06 00:00:00
2014-06-13 00:00:00
2014-06-20 00:00:00
2014-06-27 00:00:00
2014-07-04 00:00:00
2014-07-11 00:00:00
2014-07-18 00:00:00
2014-07-25 00:00:00
2014-08-01 00:00:00
2014-08-08 00:00:00
2014-08-15 00:00:00
2014-08-22 00:00:00
2014-08-29 00:00:00
2014-09-05 00:00:00
2014-09-12 00:00:00
2014-09-19 00:00:00
2014-09-26 00:00:00
2014-10-03 00:00:00
2014-10-10 00:00:00
2014-10-17 00:00:00
2014-10-24 00:00:00
2014-10-31 00:00:00
2014-11-07 00:00:00
2014-11-14 00:00:00
2014-11-21 00:00:00
2014-11-28 00:00:00
2014-12-05 00:00:00
2014-12-12 00:00:00
2014-12-19 00:00:00
2014-12-26 00:00:00
2015-01-02 00:00:00
2015-01-09 00:00:00
2015-01-16 00:00:00
2015-01-23 00:00:00
2015-01-30 00:00:00
2015-02-06 00:00:00
2015-02-13 00:00:00
2015-02-20 00:00:00
2015-02-27 00:00:00
2015-03-06 00:00:00
2015-03-13 00:00:00
2015-03-20 00:00:00
2015-03-27 00:00:00
2015-04-03 00:00:00
2015-04-10 00:00:00
2015-04-17 00:00:00

2015-04-24 00:00:00
2015-05-01 00:00:00
2015-05-08 00:00:00
2015-05-15 00:00:00
2015-05-22 00:00:00
2015-05-29 00:00:00
2015-06-05 00:00:00
2015-06-12 00:00:00
2015-06-19 00:00:00
2015-06-26 00:00:00
2015-07-03 00:00:00
2015-07-10 00:00:00
2015-07-17 00:00:00
2015-07-24 00:00:00
2015-07-31 00:00:00
2015-08-07 00:00:00
2015-08-14 00:00:00
2015-08-21 00:00:00
2015-08-28 00:00:00
2015-09-04 00:00:00
2015-09-11 00:00:00
2015-09-18 00:00:00
2015-09-25 00:00:00
2015-10-02 00:00:00
2015-10-09 00:00:00
2015-10-16 00:00:00
2015-10-23 00:00:00
2015-10-30 00:00:00
2015-11-06 00:00:00
2015-11-13 00:00:00
2015-11-20 00:00:00
2015-11-27 00:00:00
2015-12-04 00:00:00
2015-12-11 00:00:00
2015-12-18 00:00:00
2015-12-25 00:00:00
2016-01-01 00:00:00
2016-01-08 00:00:00
2016-01-15 00:00:00
2016-01-22 00:00:00
2016-01-29 00:00:00
2016-02-05 00:00:00
2016-02-19 00:00:00
2016-02-26 00:00:00
2016-03-04 00:00:00
2016-03-11 00:00:00
2016-03-18 00:00:00
2016-03-25 00:00:00
2016-04-01 00:00:00
2016-04-08 00:00:00
2016-04-15 00:00:00
2016-04-22 00:00:00
2016-04-29 00:00:00
2016-05-06 00:00:00
2016-05-13 00:00:00
2016-05-20 00:00:00
2016-05-27 00:00:00
2016-06-03 00:00:00
2016-06-10 00:00:00
2016-06-17 00:00:00
2016-06-24 00:00:00
2016-07-01 00:00:00
2016-07-08 00:00:00
2016-07-15 00:00:00
2016-07-22 00:00:00
2016-07-29 00:00:00
2016-08-05 00:00:00
2016-08-12 00:00:00
2016-08-19 00:00:00
2016-08-26 00:00:00
2016-09-02 00:00:00
2016-09-09 00:00:00
2016-09-16 00:00:00
2016-09-23 00:00:00
2016-09-30 00:00:00
2016-10-14 00:00:00
2016-10-21 00:00:00
2016-10-28 00:00:00
2016-11-04 00:00:00
2016-11-11 00:00:00
2016-11-18 00:00:00
2016-11-25 00:00:00
2016-12-02 00:00:00
2016-12-09 00:00:00
2016-12-16 00:00:00
2016-12-23 00:00:00
2016-12-30 00:00:00
2017-01-06 00:00:00
2017-01-13 00:00:00
2017-01-20 00:00:00
2017-01-27 00:00:00
2017-02-03 00:00:00
2017-02-10 00:00:00
2017-02-17 00:00:00
2017-02-24 00:00:00
2017-03-03 00:00:00
2017-03-10 00:00:00
2017-03-17 00:00:00
2017-03-24 00:00:00
2017-03-31 00:00:00
2017-04-07 00:00:00
2017-04-14 00:00:00
2017-04-21 00:00:00
2017-04-28 00:00:00
2017-05-05 00:00:00
2017-05-12 00:00:00
2017-05-19 00:00:00
2017-05-26 00:00:00
2017-06-02 00:00:00
2017-06-09 00:00:00
2017-06-16 00:00:00
2017-06-23 00:00:00
2017-06-30 00:00:00
2017-07-07 00:00:00
2017-07-14 00:00:00
2017-07-21 00:00:00
2017-07-28 00:00:00
2017-08-04 00:00:00
2017-08-11 00:00:00
2017-08-18 00:00:00
2017-08-25 00:00:00
2017-09-01 00:00:00
2017-09-08 00:00:00
2017-09-15 00:00:00
2017-09-22 00:00:00
2017-10-06 00:00:00
2017-10-13 00:00:00
2017-10-20 00:00:00
2017-10-27 00:00:00
2017-11-03 00:00:00
2017-11-10 00:00:00
2017-11-17 00:00:00
2017-11-24 00:00:00
2017-12-01 00:00:00
2017-12-08 00:00:00
2017-12-15 00:00:00
2017-12-22 00:00:00
2017-12-29 00:00:00
2018-01-05 00:00:00
2018-01-12 00:00:00
2018-01-19 00:00:00
2018-01-26 00:00:00
2018-02-02 00:00:00
2018-02-09 00:00:00
2018-02-16 00:00:00
2018-02-23 00:00:00
2018-03-02 00:00:00
2018-03-09 00:00:00
2018-03-16 00:00:00
2018-03-23 00:00:00
2018-03-30 00:00:00
2018-04-06 00:00:00
2018-04-13 00:00:00
2018-04-20 00:00:00
2018-04-27 00:00:00
2018-05-04 00:00:00
2018-05-11 00:00:00
2018-05-18 00:00:00
2018-05-25 00:00:00
2018-06-01 00:00:00
2018-06-08 00:00:00
2018-06-15 00:00:00
2018-06-22 00:00:00
2018-06-29 00:00:00
2018-07-06 00:00:00
2018-07-13 00:00:00
2018-07-20 00:00:00
2018-07-27 00:00:00
2018-08-03 00:00:00
2018-08-10 00:00:00
2018-08-17 00:00:00
2018-08-24 00:00:00
2018-08-31 00:00:00
2018-09-07 00:00:00
2018-09-14 00:00:00
2018-09-21 00:00:00
2018-10-05 00:00:00
2018-10-12 00:00:00
2018-10-19 00:00:00
2018-10-26 00:00:00
2018-11-02 00:00:00
2018-11-09 00:00:00
2018-11-16 00:00:00
2018-11-23 00:00:00
2018-11-30 00:00:00
2018-12-07 00:00:00
2018-12-14 00:00:00
2018-12-21 00:00:00
2019-01-04 00:00:00
2019-01-11 00:00:00
2019-01-18 00:00:00
2019-01-25 00:00:00
2019-02-01 00:00:00
2019-02-15 00:00:00
2019-02-22 00:00:00
2019-03-01 00:00:00
2019-03-08 00:00:00
2019-03-15 00:00:00
2019-03-22 00:00:00
2019-03-29 00:00:00
2019-04-05 00:00:00
2019-04-12 00:00:00
2019-04-19 00:00:00
2019-04-26 00:00:00
2019-05-03 00:00:00
2019-05-10 00:00:00
2019-05-17 00:00:00
2019-05-24 00:00:00
2019-05-31 00:00:00
2019-06-07 00:00:00
2019-06-14 00:00:00
2019-06-21 00:00:00
2019-06-28 00:00:00
2019-07-05 00:00:00
2019-07-12 00:00:00
2019-07-19 00:00:00
2019-07-26 00:00:00
2019-08-02 00:00:00
2019-08-09 00:00:00
2019-08-16 00:00:00
2019-08-23 00:00:00
2019-08-30 00:00:00
2019-09-06 00:00:00
2019-09-13 00:00:00
2019-09-20 00:00:00
2019-09-27 00:00:00
2019-10-04 00:00:00
2019-10-11 00:00:00
2019-10-18 00:00:00
2019-10-25 00:00:00
2019-11-01 00:00:00
2019-11-08 00:00:00
2019-11-15 00:00:00
2019-11-22 00:00:00
2019-11-29 00:00:00
2019-12-06 00:00:00
2019-12-13 00:00:00
2019-12-20 00:00:00
2019-12-27 00:00:00
2020-01-03 00:00:00
2020-01-10 00:00:00
2020-01-17 00:00:00
2020-01-24 00:00:00
2020-02-07 00:00:00
2020-02-14 00:00:00
2020-02-21 00:00:00
2020-02-28 00:00:00
2020-03-06 00:00:00
2020-03-13 00:00:00
2020-03-20 00:00:00
2020-03-27 00:00:00
2020-04-03 00:00:00
2020-04-10 00:00:00
2020-04-17 00:00:00
2020-04-24 00:00:00
2020-05-01 00:00:00
2020-05-08 00:00:00
2020-05-15 00:00:00
2020-05-22 00:00:00
2020-05-29 00:00:00
2020-06-05 00:00:00
2020-06-12 00:00:00
2020-06-19 00:00:00
2020-06-26 00:00:00
2020-07-03 00:00:00
2020-07-10 00:00:00
2020-07-17 00:00:00
2020-07-24 00:00:00
2020-07-31 00:00:00
2020-08-07 00:00:00
2020-08-14 00:00:00
2020-08-21 00:00:00
2020-08-28 00:00:00
2020-09-04 00:00:00
2020-09-11 00:00:00
2020-09-18 00:00:00
2020-09-25 00:00:00
2020-10-02 00:00:00
2020-10-09 00:00:00
2020-10-16 00:00:00
2020-10-23 00:00:00
2020-10-30 00:00:00
2020-11-06 00:00:00
2020-11-13 00:00:00
2020-11-20 00:00:00
2020-11-27 00:00:00
2020-12-04 00:00:00
2020-12-11 00:00:00
2020-12-18 00:00:00
2020-12-25 00:00:00
2021-01-01 00:00:00
2021-01-08 00:00:00
2021-01-15 00:00:00
2021-01-22 00:00:00
2021-01-29 00:00:00
2021-02-05 00:00:00
2021-02-12 00:00:00
2021-02-19 00:00:00
2021-02-26 00:00:00
2021-03-05 00:00:00
2021-03-12 00:00:00
2021-03-19 00:00:00
2021-03-26 00:00:00
2021-04-02 00:00:00
2021-04-09 00:00:00
2021-04-16 00:00:00
2021-04-23 00:00:00
2021-04-30 00:00:00
2021-05-07 00:00:00
2021-05-14 00:00:00
2021-05-21 00:00:00
2021-05-28 00:00:00
2021-06-04 00:00:00
2021-06-11 00:00:00
2021-06-18 00:00:00
2021-06-25 00:00:00
2021-07-02 00:00:00
2021-07-09 00:00:00
2021-07-16 00:00:00
2021-07-23 00:00:00
2021-07-30 00:00:00
2021-08-06 00:00:00
2021-08-13 00:00:00
2021-08-20 00:00:00
2021-08-27 00:00:00
2021-09-03 00:00:00
2021-09-10 00:00:00
2021-09-17 00:00:00
2021-09-24 00:00:00
2021-10-01 00:00:00
2021-10-08 00:00:00
2021-10-15 00:00:00
2021-10-22 00:00:00
2021-10-29 00:00:00
2021-11-05 00:00:00
2021-11-12 00:00:00
2021-11-19 00:00:00
2021-11-26 00:00:00
2021-12-03 00:00:00
2021-12-10 00:00:00
2021-12-17 00:00:00
2021-12-24 00:00:00
2021-12-31 00:00:00
2022-01-07 00:00:00
2022-01-14 00:00:00
2022-01-21 00:00:00
2022-01-28 00:00:00
2022-02-11 00:00:00
2022-02-18 00:00:00

In [12]:
pricedelay

,5,600602,600651,600653,600654,4,600601,600652,2,600656,...,1210,605167,1211,605507,605588,605589,601728,601825,605069,605580
1991-07-05,0.046557,0.069151,0.002029,0.074744,0.120163,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-07-12,0.047175,0.084911,0.005514,0.051043,0.078873,0.001452,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-07-19,0.047387,0.080351,0.003577,0.044001,0.068027,0.001441,0.123385,0.016667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-07-26,0.047387,0.078207,0.002983,0.041071,0.062464,0.001096,0.107367,0.016674,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991-08-02,0.047387,0.097077,0.010704,0.053508,0.080345,0.000024,0.133574,0.029154,0.004643,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-14,0.053226,0.168484,0.073944,0.057609,0.057707,0.015518,0.083757,0.071011,0.032634,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-21,0.055872,0.157610,0.073991,0.059677,0.055168,0.015868,0.086705,0.074202,0.030557,NaN,...,0.006359,8.216888e-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-28,0.053769,0.167879,0.075164,0.061095,0.061377,0.016247,0.093265,0.084814,0.034818,NaN,...,0.026884,8.316033e-04,0.006764,0.027231,NaN,NaN,NaN,NaN,NaN,NaN
2022-02-11,0.050183,0.159134,0.082576,0.056157,0.067149,0.013786,0.072279,0.105149,0.030065,NaN,...,0.004951,2.276010e-04,0.002148,0.013223,0.031773,0.017475,NaN,NaN,NaN,NaN
2022-02-18,0.048775,0.149806,0.076000,0.053541,0.058181,0.013743,0.066363,0.099870,0.034071,NaN,...,0.005200,1.087058e-09,0.000001,0.000904,0.034019,0.013866,0.000885,0.002796,0.001695,0.00292

In [13]:
pricedelay.to_csv('../../Data/factors/pricedelay.csv')