In [1]:
import my_methods as mm
import pandas as pd
import numpy as np

In [2]:
stkcls = pd.read_csv('../../Data/raw_data/05上市公司行业分类表/STK_INDUSTRYCLASS.csv')
stkcls = stkcls[stkcls['IndustryClassificationID'] == 'P0207']
stkcls = stkcls[['Symbol','IndustryCode','ImplementDate']]
stkcls = stkcls[stkcls['Symbol'].map(lambda x: (x>=0 and x<=9999) or (x>=600000 and x<=609999))]
stkcls['ImplementDate'] = pd.DatetimeIndex(stkcls['ImplementDate'])
stkcls

       Symbol IndustryCode ImplementDate
1           1          J66    1991-04-03
11          2          K70    1991-01-29
24          3          S90    1991-07-03
28          4          G54    1991-01-14
34          4          C27    2010-08-25
...       ...          ...           ...
44515  605580          D44    2021-08-19
44525  605588          C39    2021-08-12
44527  605589          C26    2021-08-10
44533  605598          E48    2021-09-17
44541  605599          F52    2021-09-09

[4567 rows x 3 columns]

In [3]:
stkcls['IndustryCode'].value_counts()

C39    326
C26    288
C38    230
C27    215
C35    195
      ...
O79      3
R88      2
G57      2
B10      2
C43      1
Name: IndustryCode, Length: 84, dtype: int64

In [8]:
df = stkcls.pivot_table(values='IndustryCode',index='ImplementDate',columns='Symbol',aggfunc=lambda x:x)
df = df.fillna(value='None')  # 不都改成文本，run_model那边总会报数据类型混杂warning
df

Symbol,1,2,3,4,5,6,7,8,9,10,...,605507,605555,605566,605567,605577,605580,605588,605589,605598,605599
ImplementDate,,,,,,,,,,,,,,,,,,,,,
1990-12-10,None,None,None,None,S90,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1990-12-19,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1991-01-14,None,None,None,G54,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1991-01-29,None,K70,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1991-04-03,J66,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2022-01-05,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2022-01-11,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2022-01-17,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2022-01-24,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [9]:
df.to_csv('../../Data/factors/industry_category.csv')